# **DataCamp.Course_051_Working with Dates and Times in Python**

### **Course Description**

You'll probably never have a time machine, but how about a machine for analyzing time? As soon as time enters any analysis, things can get weird. It's easy to get tripped up on day and month boundaries, time zones, daylight saving time, and all sorts of other things that can confuse the unprepared. If you're going to do any kind of analysis involving time, you’ll want to use Python to sort it out. Working with data sets on hurricanes and bike trips, we’ll cover counting events, figuring out how much time has elapsed between events and plotting data over time. You'll work in both standard Python and in Pandas, and we'll touch on the dateutil library, the only timezone library endorsed by the official Python documentation. After this course, you'll confidently handle date and time data in any format like a champion.

In [2]:
# read_csv function

import os
import pandas as pd
folder_name = 'datasets'
dir = r'G:\My Drive\Data Science\Datacamp_Notebook\Datacamp_Notebook\{}'.format(folder_name)

def read_csv_fun(folder_name,file_name, path):
    path = dir
    os.chdir(path)
    df = pd.read_csv('{}.csv'.format(file_name), sep=',', low_memory=False, on_bad_lines='skip')
    return df

df_show = read_csv_fun('datasets','daily_show_guests_cleaned', dir)
print(df_show.head(5))

   YEAR GoogleKnowlege_Occupation     Show   Group    Raw_Guest_List
0  1999                     actor  1/11/99  Acting    Michael J. Fox
1  1999                  Comedian  1/12/99  Comedy   Sandra Bernhard
2  1999        television actress  1/13/99  Acting     Tracey Ullman
3  1999              film actress  1/14/99  Acting  Gillian Anderson
4  1999                     actor  1/18/99  Acting  David Alan Grier

## **Dates and Calendars (Module 01-051)**

#### **Dates in Python**

1. Course overview
Chapter 1: Dates and Calendars
Chapter 2: Combining Dates and Times
Chapter 3: Time zones and Daylight Saving
Chapter 4: Dates and Times in Pandas

2. Why do we need a date class in Python?
two_hurricanes = ["10/7/2016", "6/21/2017"]
How would you:
- Figure out how many days had elapsed?
- Check that they were in order from earliest to latest?
- Know which day of the week each was?
- Filter out hurricanes which happened between certain dates?

3. Creating date objects
*-# Import date*
from datetime import date
*-# Create dates*
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]

4. Attributes of a date

*-# Import date*
from datetime import date

*-# Create dates*
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]
print(two_hurricanes_dates[0].year)
print(two_hurricanes_dates[0].month)
print(two_hurricanes_dates[0].day)

`2016`
`10`
`7`

5. Finding the weekday of a date
print(two_hurricanes_dates[0].weekday())

Weekdays in Python
0 = Monday
1 = Tuesday
2 = Wednesday
...
6 = Sunday

In [3]:
# Import date
from datetime import date
# Create dates
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]
print(two_hurricanes_dates[0].year)
print(two_hurricanes_dates[0].month)
print(two_hurricanes_dates[0].day)

print(two_hurricanes_dates[0].weekday())

2016
10
7
4

**Which day of the week?**

Hurricane Andrew, which hit Florida on August 24, 1992, was one of the costliest and deadliest hurricanes in US history. Which day of the week did it make landfall?

Let's walk through all of the steps to figure this out.

*0 = Monday*

In [5]:
# Import date from datetime
from datetime import date

# Create a date object
hurricane_andrew = date(1992, 8, 24)

# Which day of the week is the date?
print(hurricane_andrew.weekday())

0

**How many hurricanes come early?**

In this chapter, you will work with a list of the hurricanes that made landfall in Florida from 1950 to 2017. There were 235 in total. Check out the variable `florida_hurricane_dates`, which has all of these dates.

Atlantic hurricane season officially begins on June 1. How many hurricanes since 1950 have made landfall in Florida before the official start of hurricane season?

STEPS
    Complete the for loop to iterate through florida_hurricane_dates.
    Complete the if statement to increment the counter (early_hurricanes) if the hurricane made landfall before June.

In [10]:
# import pkl file
florida_hurricane_dates = pd.read_pickle(r'G:\My Drive\Data Science\Datacamp_Notebook\Datacamp_Notebook\datasets\florida_hurricane_dates.pkl')
display(florida_hurricane_dates[0:5])

[datetime.date(1988, 8, 4),
 datetime.date(1990, 10, 12),
 datetime.date(2003, 4, 20),
 datetime.date(1971, 9, 1),
 datetime.date(1988, 8, 23)]

In [11]:
# Counter for how many before June 1
early_hurricanes = 0

# We loop over the dates
for hurricane in florida_hurricane_dates:
  # Check if the month is before June (month number 6)
  if hurricane.month < 6:
    early_hurricanes = early_hurricanes + 1
    
print(early_hurricanes)

10

#### **Math with dates**

1. Math with dates

- numbers range
*-# Example numbers*
a = 11
b = 14
l = [a, b]
*-# Find the least least in the list*
print(min(l))
11

*-# Subtract two numbers*
print(b - a)
3
*-# Add 3 to a*
print(a + 3)
14 

- date range

*-# Import date*
from datetime import date
*-# Create our dates*
d1 = date(2017, 11, 5)
d2 = date(2017, 12, 4)
l = [d1, d2]
print(min(l))
2017-11-05

*-# Subtract two dates*
delta = d2 - d1
print(delta.days)
29

*-# Import timedelta*
from datetime import timedelta
*-# Create a 29 day timedelta*
td = timedelta(days=29)
print(d1 + td)
2017-12-04

2. Incrementing variables with +=

*-# Initialize x to be zero*
x = 0
*-# Increment x*
x = x + 1
print(x)
1

*-# Initialize x to be zero*
x = 0
*-# Increment x*
x += 1
print(x)
1

In [13]:
# Import date
from datetime import date
# Create our dates
d1 = date(2017, 11, 5)
d2 = date(2017, 12, 4)
l = [d1, d2]
print(min(l))

# Subtract two dates
delta = d2 - d1
print(delta.days)

# Import timedelta
from datetime import timedelta
# Create a 29 day timedelta
td = timedelta(days=29)
print(d1 + td)

2017-11-05
29
2017-12-04

In [21]:
# Initialize x to be zero
x = 0
# Increment x
x += 1
print(x)

# Initialize x to be zero
x = 0
# Increment x
x = x + 1
print(x)

1
1

**Subtracting dates**

Python date objects let us treat calendar dates as something similar to numbers: we can compare them, sort them, add, and even subtract them. This lets us do math with dates in a way that would be a pain to do by hand.

The 2007 Florida hurricane season was one of the busiest on record, with 8 hurricanes in one year. The first one hit on May 9th, 2007, and the last one hit on December 13th, 2007. How many days elapsed between the first and last hurricane in 2007?

STEPS
    Import date from datetime.
    Create a date object for May 9th, 2007, and assign it to the start variable.
    Create a date object for December 13th, 2007, and assign it to the end variable.
    Subtract start from end, to print the number of days in the resulting timedelta object.

In [22]:
# Import date
from datetime import date

# Create a date object for May 9th, 2007
start = date(2007, 5, 9)

# Create a date object for December 13th, 2007
end = date(2007, 12, 13)

# Subtract the two dates and print the number of days
print((end - start).days)

218

**Counting events per calendar month**

Hurricanes can make landfall in Florida throughout the year. As we've already discussed, some months are more hurricane-prone than others.

Using `florida_hurricane_dates`, let's see how hurricanes in Florida were distributed across months throughout the year.

We've created a dictionary called `hurricanes_each_month` to hold your counts and set the initial counts to zero. You will loop over the list of hurricanes, incrementing the correct month in `hurricanes_each_month` as you go, and then print the result.

STEPS
    Within the for loop:
    Assign month to be the month of that hurricane.
    Increment hurricanes_each_month for the relevant month by 1.

In [23]:
# A dictionary to count hurricanes per calendar month
hurricanes_each_month = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6:0,
		  				 7: 0, 8:0, 9:0, 10:0, 11:0, 12:0}

# Loop over all hurricanes
for hurricane in florida_hurricane_dates:
  # Pull out the month
  month = hurricane.month
  # Increment the count in your dictionary by one
  hurricanes_each_month[month] += 1
  
print(hurricanes_each_month)

{1: 0, 2: 1, 3: 0, 4: 1, 5: 8, 6: 32, 7: 21, 8: 49, 9: 70, 10: 43, 11: 9, 12: 1}

**Putting a list of dates in order**

Much like numbers and strings, `date` objects in Python can be put in order. Earlier dates come before later ones, and so we can sort a list of `date` objects from earliest to latest.

What if our Florida hurricane dates had been scrambled? We've gone ahead and shuffled them so they're in random order and saved the results as `dates_scrambled`. Your job is to put them back in chronological order, and then print the first and last dates from this sorted list.

STEP01
Print the first and last dates in dates_scrambled.
STEP02
    Sort dates_scrambled using Python's built-in sorted() function, and save the results to dates_ordered.
    Print the first and last dates in dates_ordered.

In [25]:
# Print the first and last scrambled dates
print(florida_hurricane_dates[0])
print(florida_hurricane_dates[len(florida_hurricane_dates) - 1])

1988-08-04
2011-07-18

In [26]:
# Put the dates in order
dates_ordered = sorted(florida_hurricane_dates)

# Print the first and last ordered dates
print(dates_ordered[0])
print(dates_ordered[-1])

1950-08-31
2017-10-29

#### **Turning dates into strings**

1. ISO 8601 format
from datetime import date
*-# Example date*
d = date(2017, 11, 5)
*-# ISO format: YYYY-MM-DD*
print(d)
2017-11-05
*-# Express the date in ISO 8601 format and put it in a list*
print( [d.isoformat()] )
['2017-11-05']

*-# A few dates that computers once had trouble with*
some_dates = ['2000-01-01', '1999-12-31']
*-# Print them in order*
print(sorted(some_dates))
['1999-12-31', '2000-01-01']

2. Every other format: strftime
d.strftime()

*-# Example date*
d = date(2017, 1, 5)
print(d.strftime("%Y"))
2017
*-# Format string with more text in it*
print(d.strftime("Year is %Y"))
Year is 2017

*-# Format: YYYY/MM/DD*
print(d.strftime("%Y/%m/%d"))
2017/01/05

In [27]:
# Example date
d = date(2017, 11, 5)
# ISO format: YYYY-MM-DD
print(d)

# Express the date in ISO 8601 format and put it in a list
print( [d.isoformat()] )

# A few dates that computers once had trouble with
some_dates = ['2000-01-01', '1999-12-31']
# Print them in order
print(sorted(some_dates))

2017-11-05
['2017-11-05']
['1999-12-31', '2000-01-01']

In [29]:
# Example date
d = date(2017, 1, 5)
print(d.strftime("%Y"))

# Format string with more text in it
print(d.strftime("Year is %Y"))

# Format: YYYY/MM/DD
print(d.strftime("%Y/%m/%d"))

2017
Year is 2017
2017/01/05

**Printing dates in a friendly format**

Because people may want to see dates in many different formats, Python comes with very flexible functions for turning `date` objects into strings.

Let's see what event was recorded first in the Florida hurricane data set. In this exercise, you will format the earliest date in the `florida_hurricane_dates` list in two ways so you can decide which one you want to use: either the ISO standard or the typical US style.

STEPS
    Assign the earliest date in florida_hurricane_dates to first_date.
    Print first_date in the ISO standard. For example, December 1st, 2000 would be "2000-12-01".
    Print first_date in the US style, using .strftime(). For example, December 1st, 2000 would be "12/1/2000".

In [30]:
# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

ISO: Our earliest hurricane date: 1950-08-31
US: Our earliest hurricane date: 08/31/1950

**Representing dates in different ways**

date objects in Python have a great number of ways they can be printed out as strings. In some cases, you want to know the date in a clear, language-agnostic format. In other cases, you want something which can fit into a paragraph and flow naturally.

Let's try printing out the same date, August 26, 1992 (the day that Hurricane Andrew made landfall in Florida), in a number of different ways, to practice using the `.strftime()` method.

A date object called `andrew` has already been created.

STEPS
Print andrew in the format 'YYYY-MM'.
Print andrew in the format 'MONTH (YYYY)', using %B for the month's full name, which in this case will be August.
Print andrew in the format 'YYYY-DDD' (where DDD is the day of the year) using %j.

In [33]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'YYYY-MM'
print(andrew.strftime('%Y-%m'))

# Print the date in the format 'MONTH (YYYY)'
print(andrew.strftime('%B (%Y)'))

# Print the date in the format 'YYYY-DDD'
print(andrew.strftime('%Y-%j'))

1992-08
August (1992)
1992-239

## **Combining Dates and Times (Module 02-051)**

#### **Dates and times**

1. Adding time to the mix

*-# Import datetime*
from datetime import datetime
dt = datetime(2017, 10, 1, 15, 23, 25, 500000)

dt = datetime(year=2017, month=10, day=1, 
                hour=15, minute=23, second=25, microsecond=500000)

2. Replacing parts of a datetime

print(dt)

`2017-10-01 15:23:25.500000`

dt_hr = dt.replace(minute=0, second=0, microsecond=0)
print(dt_hr)

`2017-10-01 15:00:00`

3. Capital Bikeshare

In [5]:
onebike_datetimes = read_csv_fun('datasets','capital-onebike', dir)

display(onebike_datetimes.head(5))

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [4]:
display(onebike_datetimes.dtypes)

# Convert user_type from object to datetime
onebike_datetimes['start'] = onebike_datetimes['Start date'].astype('datetime64[ns]')
onebike_datetimes['end'] = onebike_datetimes['End date'].astype('datetime64[ns]')

display(onebike_datetimes.dtypes)

Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

Start date                      object
End date                        object
Start station number             int64
Start station                   object
End station number               int64
End station                     object
Bike number                     object
Member type                     object
start                   datetime64[ns]
end                     datetime64[ns]
dtype: object

**Creating datetimes by hand**

Often you create `datetime` objects based on outside data. Sometimes though, you want to create a `datetime` object from scratch.

You're going to create a few different `datetime` objects from scratch to get the hang of that process. These come from the bikeshare data set that you'll use throughout the rest of the chapter.

STEPS 01
    Import the datetime class.
    Create a datetime for October 1, 2017 at 15:26:26.
    Print the results in ISO format.
STEPS 02
    Import the datetime class.
    Create a datetime for December 31, 2017 at 15:19:13.
    Print the results in ISO format.
STEPS 03
Create a new datetime by replacing the year in dt with 1917 (instead of 2017)

In [32]:
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(year=2017 , month=10, day=1, hour=15, minute=26, second=26)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-10-01T15:26:26

In [2]:
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(year=2017 , month=12, day=31, hour=15, minute=19, second=13)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-12-31T15:19:13

In [3]:
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 12, 31, 15, 19, 13)

# Replace the year with 1917
dt_old = dt.replace(year=1917)

# Print the results in ISO 8601 format
print(dt_old)

1917-12-31 15:19:13

**Counting events before and after noon**

In this chapter, you will be working with a list of all bike trips for one Capital Bikeshare bike, W20529, from October 1, 2017 to December 31, 2017. This list has been loaded as `onebike_datetimes`.

Each element of the list is a dictionary with two entries: `start` is a `datetime` object corresponding to the start of a trip (when a bike is removed from the dock) and `end` is a `datetime` object corresponding to the end of a trip (when a bike is put back into a dock).

You can use this data set to understand better how this bike was used. Did more trips start before noon or after noon?

STEPS
    Within the for loop, complete the if statement to check if the trip started before noon.
    Within the for loop, increment trip_counts['AM'] if the trip started before noon, and trip_counts['PM'] if it started after noon.

In [49]:
# Import datetime
from datetime import datetime

# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}
  
# Loop over all trips
for index, trip in onebike_datetimes.iterrows():
  # Check to see if the trip starts before noon
  if trip['start'].hour < 12:
    # Increment the counter for before noon
    trip_counts['AM'] += 1
  else:
    # Increment the counter for after noon
    trip_counts['PM'] += 1
  
print(trip_counts)

{'AM': 94, 'PM': 196}

#### **Printing and parsing datetimes**

1. Printing datetimes

*-# Create datetime*
dt = datetime(2017, 12, 30, 15, 19, 13)
print(dt.strftime("%Y-%m-%d"))

`2017-12-30`

print(dt.strftime("%Y-%m-%d %H:%M:%S"))

`2017-12-30 15:19:13`

print(dt.strftime("%H:%M:%S on %Y/%m/%d/"))

`15:19:13 on 2017/12/30`

2. ISO 8601 Format

*-# ISO 8601 format*
print(dt.isoformat())

`2017-12-30T15:19:13`

3. Parsing datetimes with strptime

*-# Import datetime*
from datetime import datetime
dt = datetime.strptime("12/30/2017 15:19:13",
"%m/%d/%Y %H:%M:%S")

*-# What did we make?*
print(type(dt))

`<class 'datetime.datetime'>`

*-# Print out datetime object*
print(dt)

`2017-12-30 15:19:13`

*-# Import datetime*
from datetime import datetime
*-# Incorrect format string*
dt = datetime.strptime("2017-12-30 15:19:13","%Y-%m-%d")

`ValueError: unconverted data remains: 15:19:13`

4. Parsing datetimes with Python

*-# A timestamp*
ts = 1514665153.0
*-# Convert to datetime and print*
print(datetime.fromtimestamp(ts))

`2017-12-30 15:19:13`

In [58]:
# Import datetime
from datetime import datetime
dt = datetime.strptime("12/30/2017 15:19:13",
"%m/%d/%Y %H:%M:%S")
print(dt)

# What did we make?
print(type(dt))

# A timestamp
ts = 1514665153.0
# Convert to datetime and print
print(datetime.fromtimestamp(ts))

2017-12-30 15:19:13
<class 'datetime.datetime'>
2017-12-30 15:19:13

**Turning strings into datetimes**

When you download data from the Internet, dates and times usually come to you as strings. Often the first step is to turn those strings into `datetime` objects.

In this exercise, you will practice this transformation.
Reference	
%Y	4 digit year (0000-9999)
%m	2 digit month (1-12)
%d	2 digit day (1-31)
%H	2 digit hour (0-23)
%M	2 digit minute (0-59)
%S	2 digit second (0-59)

STEPS 01
    Determine the format needed to convert s to datetime and assign it to fmt.
    Convert the string s to datetime using fmt.
STEPS 02
    Determine the format needed to convert s to datetime and assign it to fmt.
    Convert the string s to datetime using fmt.
STEPS 03
    Determine the format needed to convert s to datetime and assign it to fmt.
    Convert the string s to datetime using fmt.

In [60]:
# Import the datetime class
from datetime import datetime

# Starting string, in YYYY-MM-DD HH:MM:SS format
s = '2017-02-03 00:00:01'

# Write a format string to parse s
fmt = '%Y-%m-%d %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

2017-02-03 00:00:01

In [61]:
# Import the datetime class
from datetime import datetime

# Starting string, in YYYY-MM-DD format
s = '2030-10-15'

# Write a format string to parse s
fmt = '%Y-%m-%d'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

2030-10-15 00:00:00

In [7]:
# Import the datetime class
from datetime import datetime

# Starting string, in MM/DD/YYYY HH:MM:SS format
s = '12/15/1986 08:00:00'

# Write a format string to parse s
fmt = '%m/%d/%Y %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

1986-12-15 08:00:00

**Parsing pairs of strings as datetimes**

Up until now, you've been working with a pre-processed list of datetimes for W20529's trips. For this exercise, you're going to go one step back in the data cleaning pipeline and work with the strings that the data started as.

Explore onebike_datetime_strings in the IPython shell to determine the correct format. datetime has already been loaded for you.

Reference	
%Y	4 digit year (0000-9999)
%m	2 digit month (1-12)
%d	2 digit day (1-31)
%H	2 digit hour (0-23)
%M	2 digit minute (0-59)
%S	2 digit second (0-59)

STEPS
    Outside the for loop, fill out the fmt string with the correct parsing format for the data.
    Within the for loop, parse the start and end strings into the trip dictionary with start and end keys and datetime objects for values.

In [127]:
#reset
onebike_datetimes = read_csv_fun('datasets','capital-onebike', dir)
display(onebike_datetimes.head(3))

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member

In [87]:
import pandas as pd

# Write down the format string
fmt = "%Y-%m-%d %H:%M:%S"

# Initialize a list for holding the pairs of datetime objects
onebike_datetimes_dates = []

# Loop over all trips
for index, row in onebike_datetimes.iterrows():
    trip = {'start': datetime.strptime(row['Start date'], fmt),
            'end': datetime.strptime(row['End date'], fmt)}
  
    # Append the trip
    onebike_datetimes_dates.append(trip)

print(onebike_datetimes_dates)

df_dates = pd.DataFrame(onebike_datetimes_dates)

display(df_dates.head(5))
display(df_dates.dtypes)

[{'start': datetime.datetime(2017, 10, 1, 15, 23, 25), 'end': datetime.datetime(2017, 10, 1, 15, 26, 26)}, {'start': datetime.datetime(2017, 10, 1, 15, 42, 57), 'end': datetime.datetime(2017, 10, 1, 17, 49, 59)}, {'start': datetime.datetime(2017, 10, 2, 6, 37, 10), 'end': datetime.datetime(2017, 10, 2, 6, 42, 53)}, {'start': datetime.datetime(2017, 10, 2, 8, 56, 45), 'end': datetime.datetime(2017, 10, 2, 9, 18, 3)}, {'start': datetime.datetime(2017, 10, 2, 18, 23, 48), 'end': datetime.datetime(2017, 10, 2, 18, 45, 5)}, {'start': datetime.datetime(2017, 10, 2, 18, 48, 8), 'end': datetime.datetime(2017, 10, 2, 19, 10, 54)}, {'start': datetime.datetime(2017, 10, 2, 19, 18, 10), 'end': datetime.datetime(2017, 10, 2, 19, 31, 45)}, {'start': datetime.datetime(2017, 10, 2, 19, 37, 32), 'end': datetime.datetime(2017, 10, 2, 19, 46, 37)}, {'start': datetime.datetime(2017, 10, 3, 8, 24, 16), 'end': datetime.datetime(2017, 10, 3, 8, 32, 27)}, {'start': datetime.datetime(2017, 10, 3, 18, 17, 7), 'end': datetime.datetime(2017, 10, 3, 18, 27, 46)}, {'start': datetime.datetime(2017, 10, 3, 19, 24, 10), 'end': datetime.datetime(2017, 10, 3, 19, 52, 8)}, {'start': datetime.datetime(2017, 10, 3, 20, 17, 6), 'end': datetime.datetime(2017, 10, 3, 20, 23, 52)}, {'start': datetime.datetime(2017, 10, 3, 20, 45, 21), 'end': datetime.datetime(2017, 10, 3, 20, 57, 10)}, {'start': datetime.datetime(2017, 10, 4, 7, 4, 57), 'end': datetime.datetime(2017, 10, 4, 7, 13, 31)}, {'start': datetime.datetime(2017, 10, 4, 7, 13, 42), 'end': datetime.datetime(2017, 10, 4, 7, 21, 54)}, {'start': datetime.datetime(2017, 10, 4, 14, 22, 12), 'end': datetime.datetime(2017, 10, 4, 14, 50)}, {'start': datetime.datetime(2017, 10, 4, 15, 7, 27), 'end': datetime.datetime(2017, 10, 4, 15, 44, 49)}, {'start': datetime.datetime(2017, 10, 4, 15, 46, 41), 'end': datetime.datetime(2017, 10, 4, 16, 32, 33)}, {'start': datetime.datetime(2017, 10, 4, 16, 34, 44), 'end': datetime.datetime(2017, 10, 4, 16, 46, 59)}, {'start': datetime.datetime(2017, 10, 4, 17, 26, 6), 'end': datetime.datetime(2017, 10, 4, 17, 31, 36)}, {'start': datetime.datetime(2017, 10, 4, 17, 42, 3), 'end': datetime.datetime(2017, 10, 4, 17, 50, 41)}, {'start': datetime.datetime(2017, 10, 5, 7, 49, 2), 'end': datetime.datetime(2017, 10, 5, 8, 12, 55)}, {'start': datetime.datetime(2017, 10, 5, 8, 26, 21), 'end': datetime.datetime(2017, 10, 5, 8, 29, 45)}, {'start': datetime.datetime(2017, 10, 5, 8, 33, 27), 'end': datetime.datetime(2017, 10, 5, 8, 38, 31)}, {'start': datetime.datetime(2017, 10, 5, 16, 35, 35), 'end': datetime.datetime(2017, 10, 5, 16, 51, 52)}, {'start': datetime.datetime(2017, 10, 5, 17, 53, 31), 'end': datetime.datetime(2017, 10, 5, 18, 16, 50)}, {'start': datetime.datetime(2017, 10, 6, 8, 17, 17), 'end': datetime.datetime(2017, 10, 6, 8, 38, 1)}, {'start': datetime.datetime(2017, 10, 6, 11, 39, 40), 'end': datetime.datetime(2017, 10, 6, 11, 50, 38)}, {'start': datetime.datetime(2017, 10, 6, 12, 59, 54), 'end': datetime.datetime(2017, 10, 6, 13, 13, 14)}, {'start': datetime.datetime(2017, 10, 6, 13, 43, 5), 'end': datetime.datetime(2017, 10, 6, 14, 14, 56)}, {'start': datetime.datetime(2017, 10, 6, 14, 28, 15), 'end': datetime.datetime(2017, 10, 6, 15, 9, 26)}, {'start': datetime.datetime(2017, 10, 6, 15, 50, 10), 'end': datetime.datetime(2017, 10, 6, 16, 12, 34)}, {'start': datetime.datetime(2017, 10, 6, 16, 32, 16), 'end': datetime.datetime(2017, 10, 6, 16, 39, 31)}, {'start': datetime.datetime(2017, 10, 6, 16, 44, 8), 'end': datetime.datetime(2017, 10, 6, 16, 48, 39)}, {'start': datetime.datetime(2017, 10, 6, 16, 53, 43), 'end': datetime.datetime(2017, 10, 6, 17, 9, 3)}, {'start': datetime.datetime(2017, 10, 7, 11, 38, 55), 'end': datetime.datetime(2017, 10, 7, 11, 53, 6)}, {'start': datetime.datetime(2017, 10, 7, 14, 3, 36), 'end': datetime.datetime(2017, 10, 7, 14, 7, 5)}, {'start': datetime.datetime(2017, 10, 7, 14, 20, 3), 'end': datetime.datetime(2017, 10, 7, 14, 27, 36)}, {'start': datetime.datetime(2017, 10, 7, 14, 30, 50), 'end': datetime.datetime(2017, 10, 7, 14, 44, 51)}, {'start': datetime.datetime(2017, 10, 8, 0, 28, 26), 'end': datetime.datetime(2017, 10, 8, 0, 30, 48)}, {'start': datetime.datetime(2017, 10, 8, 11, 16, 21), 'end': datetime.datetime(2017, 10, 8, 11, 33, 24)}, {'start': datetime.datetime(2017, 10, 8, 12, 37, 3), 'end': datetime.datetime(2017, 10, 8, 13, 1, 29)}, {'start': datetime.datetime(2017, 10, 8, 13, 30, 37), 'end': datetime.datetime(2017, 10, 8, 13, 57, 53)}, {'start': datetime.datetime(2017, 10, 8, 14, 16, 40), 'end': datetime.datetime(2017, 10, 8, 15, 7, 19)}, {'start': datetime.datetime(2017, 10, 8, 15, 23, 50), 'end': datetime.datetime(2017, 10, 8, 15, 50, 1)}, {'start': datetime.datetime(2017, 10, 8, 15, 54, 12), 'end': datetime.datetime(2017, 10, 8, 16, 17, 42)}, {'start': datetime.datetime(2017, 10, 8, 16, 28, 52), 'end': datetime.datetime(2017, 10, 8, 16, 35, 18)}, {'start': datetime.datetime(2017, 10, 8, 23, 8, 14), 'end': datetime.datetime(2017, 10, 8, 23, 33, 41)}, {'start': datetime.datetime(2017, 10, 8, 23, 34, 49), 'end': datetime.datetime(2017, 10, 8, 23, 45, 11)}, {'start': datetime.datetime(2017, 10, 8, 23, 46, 47), 'end': datetime.datetime(2017, 10, 9, 0, 10, 57)}, {'start': datetime.datetime(2017, 10, 9, 0, 12, 58), 'end': datetime.datetime(2017, 10, 9, 0, 36, 40)}, {'start': datetime.datetime(2017, 10, 9, 0, 37, 2), 'end': datetime.datetime(2017, 10, 9, 0, 53, 33)}, {'start': datetime.datetime(2017, 10, 9, 1, 23, 29), 'end': datetime.datetime(2017, 10, 9, 1, 48, 13)}, {'start': datetime.datetime(2017, 10, 9, 1, 49, 25), 'end': datetime.datetime(2017, 10, 9, 2, 13, 35)}, {'start': datetime.datetime(2017, 10, 9, 2, 14, 11), 'end': datetime.datetime(2017, 10, 9, 2, 29, 40)}, {'start': datetime.datetime(2017, 10, 9, 13, 4, 32), 'end': datetime.datetime(2017, 10, 9, 13, 13, 25)}, {'start': datetime.datetime(2017, 10, 9, 14, 30, 10), 'end': datetime.datetime(2017, 10, 9, 14, 38, 55)}, {'start': datetime.datetime(2017, 10, 9, 15, 6, 47), 'end': datetime.datetime(2017, 10, 9, 15, 11, 30)}, {'start': datetime.datetime(2017, 10, 9, 16, 43, 25), 'end': datetime.datetime(2017, 10, 9, 16, 45, 38)}, {'start': datetime.datetime(2017, 10, 10, 15, 32, 58), 'end': datetime.datetime(2017, 10, 10, 15, 51, 24)}, {'start': datetime.datetime(2017, 10, 10, 16, 47, 55), 'end': datetime.datetime(2017, 10, 10, 17, 3, 47)}, {'start': datetime.datetime(2017, 10, 10, 17, 51, 5), 'end': datetime.datetime(2017, 10, 10, 18, 0, 18)}, {'start': datetime.datetime(2017, 10, 10, 18, 8, 12), 'end': datetime.datetime(2017, 10, 10, 18, 19, 11)}, {'start': datetime.datetime(2017, 10, 10, 19, 9, 35), 'end': datetime.datetime(2017, 10, 10, 19, 14, 32)}, {'start': datetime.datetime(2017, 10, 10, 19, 17, 11), 'end': datetime.datetime(2017, 10, 10, 19, 23, 8)}, {'start': datetime.datetime(2017, 10, 10, 19, 28, 11), 'end': datetime.datetime(2017, 10, 10, 19, 44, 40)}, {'start': datetime.datetime(2017, 10, 10, 19, 55, 35), 'end': datetime.datetime(2017, 10, 10, 20, 11, 54)}, {'start': datetime.datetime(2017, 10, 10, 22, 20, 43), 'end': datetime.datetime(2017, 10, 10, 22, 33, 23)}, {'start': datetime.datetime(2017, 10, 11, 4, 40, 52), 'end': datetime.datetime(2017, 10, 11, 4, 59, 22)}, {'start': datetime.datetime(2017, 10, 11, 6, 28, 58), 'end': datetime.datetime(2017, 10, 11, 6, 40, 13)}, {'start': datetime.datetime(2017, 10, 11, 16, 41, 7), 'end': datetime.datetime(2017, 10, 11, 17, 1, 14)}, {'start': datetime.datetime(2017, 10, 12, 8, 8, 30), 'end': datetime.datetime(2017, 10, 12, 8, 35, 3)}, {'start': datetime.datetime(2017, 10, 12, 8, 47, 2), 'end': datetime.datetime(2017, 10, 12, 8, 59, 50)}, {'start': datetime.datetime(2017, 10, 12, 13, 13, 39), 'end': datetime.datetime(2017, 10, 12, 13, 37, 45)}, {'start': datetime.datetime(2017, 10, 12, 13, 40, 12), 'end': datetime.datetime(2017, 10, 12, 13, 48, 17)}, {'start': datetime.datetime(2017, 10, 12, 13, 49, 56), 'end': datetime.datetime(2017, 10, 12, 13, 53, 16)}, {'start': datetime.datetime(2017, 10, 12, 14, 33, 18), 'end': datetime.datetime(2017, 10, 12, 14, 39, 57)}, {'start': datetime.datetime(2017, 10, 13, 15, 55, 39), 'end': datetime.datetime(2017, 10, 13, 15, 59, 41)}, {'start': datetime.datetime(2017, 10, 17, 17, 58, 48), 'end': datetime.datetime(2017, 10, 17, 18, 1, 38)}, {'start': datetime.datetime(2017, 10, 19, 20, 21, 45), 'end': datetime.datetime(2017, 10, 19, 20, 29, 15)}, {'start': datetime.datetime(2017, 10, 19, 21, 11, 39), 'end': datetime.datetime(2017, 10, 19, 21, 29, 37)}, {'start': datetime.datetime(2017, 10, 19, 21, 30, 1), 'end': datetime.datetime(2017, 10, 19, 21, 47, 23)}, {'start': datetime.datetime(2017, 10, 19, 21, 47, 34), 'end': datetime.datetime(2017, 10, 19, 21, 57, 7)}, {'start': datetime.datetime(2017, 10, 19, 21, 57, 24), 'end': datetime.datetime(2017, 10, 19, 22, 9, 52)}, {'start': datetime.datetime(2017, 10, 21, 12, 24, 9), 'end': datetime.datetime(2017, 10, 21, 12, 36, 24)}, {'start': datetime.datetime(2017, 10, 21, 12, 36, 37), 'end': datetime.datetime(2017, 10, 21, 12, 42, 13)}, {'start': datetime.datetime(2017, 10, 21, 13, 47, 43), 'end': datetime.datetime(2017, 10, 22, 11, 9, 36)}, {'start': datetime.datetime(2017, 10, 22, 13, 28, 53), 'end': datetime.datetime(2017, 10, 22, 13, 31, 44)}, {'start': datetime.datetime(2017, 10, 22, 13, 47, 5), 'end': datetime.datetime(2017, 10, 22, 13, 56, 33)}, {'start': datetime.datetime(2017, 10, 22, 14, 26, 41), 'end': datetime.datetime(2017, 10, 22, 14, 32, 39)}, {'start': datetime.datetime(2017, 10, 22, 14, 54, 41), 'end': datetime.datetime(2017, 10, 22, 15, 9, 58)}, {'start': datetime.datetime(2017, 10, 22, 16, 40, 29), 'end': datetime.datetime(2017, 10, 22, 16, 51, 40)}, {'start': datetime.datetime(2017, 10, 22, 17, 58, 46), 'end': datetime.datetime(2017, 10, 22, 18, 28, 37)}, {'start': datetime.datetime(2017, 10, 22, 18, 45, 16), 'end': datetime.datetime(2017, 10, 22, 18, 50, 34)}, {'start': datetime.datetime(2017, 10, 22, 18, 56, 22), 'end': datetime.datetime(2017, 10, 22, 19, 11, 10)}, {'start': datetime.datetime(2017, 10, 23, 10, 14, 8), 'end': datetime.datetime(2017, 10, 23, 10, 35, 32)}, {'start': datetime.datetime(2017, 10, 23, 11, 29, 36), 'end': datetime.datetime(2017, 10, 23, 14, 38, 34)}, {'start': datetime.datetime(2017, 10, 23, 15, 4, 52), 'end': datetime.datetime(2017, 10, 23, 15, 32, 58)}, {'start': datetime.datetime(2017, 10, 23, 15, 33, 48), 'end': datetime.datetime(2017, 10, 23, 17, 6, 47)}, {'start': datetime.datetime(2017, 10, 23, 17, 13, 16), 'end': datetime.datetime(2017, 10, 23, 19, 31, 26)}, {'start': datetime.datetime(2017, 10, 23, 19, 55, 3), 'end': datetime.datetime(2017, 10, 23, 20, 25, 53)}, {'start': datetime.datetime(2017, 10, 23, 21, 47, 54), 'end': datetime.datetime(2017, 10, 23, 22, 18, 4)}, {'start': datetime.datetime(2017, 10, 23, 22, 34, 12), 'end': datetime.datetime(2017, 10, 23, 22, 48, 42)}, {'start': datetime.datetime(2017, 10, 24, 6, 55, 1), 'end': datetime.datetime(2017, 10, 24, 7, 2, 17)}, {'start': datetime.datetime(2017, 10, 24, 14, 56, 7), 'end': datetime.datetime(2017, 10, 24, 15, 3, 16)}, {'start': datetime.datetime(2017, 10, 24, 15, 51, 36), 'end': datetime.datetime(2017, 10, 24, 15, 59, 50)}, {'start': datetime.datetime(2017, 10, 24, 16, 31, 10), 'end': datetime.datetime(2017, 10, 24, 16, 55, 9)}, {'start': datetime.datetime(2017, 10, 28, 14, 26, 14), 'end': datetime.datetime(2017, 10, 28, 14, 32, 34)}, {'start': datetime.datetime(2017, 11, 1, 9, 41, 54), 'end': datetime.datetime(2017, 11, 1, 9, 52, 23)}, {'start': datetime.datetime(2017, 11, 1, 20, 16, 11), 'end': datetime.datetime(2017, 11, 1, 20, 32, 13)}, {'start': datetime.datetime(2017, 11, 2, 19, 44, 29), 'end': datetime.datetime(2017, 11, 2, 19, 50, 56)}, {'start': datetime.datetime(2017, 11, 2, 20, 14, 37), 'end': datetime.datetime(2017, 11, 2, 20, 30, 29)}, {'start': datetime.datetime(2017, 11, 2, 21, 35, 47), 'end': datetime.datetime(2017, 11, 2, 21, 38, 57)}, {'start': datetime.datetime(2017, 11, 3, 9, 59, 27), 'end': datetime.datetime(2017, 11, 3, 10, 11, 46)}, {'start': datetime.datetime(2017, 11, 3, 10, 13, 22), 'end': datetime.datetime(2017, 11, 3, 10, 32, 2)}, {'start': datetime.datetime(2017, 11, 3, 10, 44, 25), 'end': datetime.datetime(2017, 11, 3, 10, 50, 34)}, {'start': datetime.datetime(2017, 11, 3, 16, 6, 43), 'end': datetime.datetime(2017, 11, 3, 16, 44, 38)}, {'start': datetime.datetime(2017, 11, 3, 16, 45, 54), 'end': datetime.datetime(2017, 11, 3, 17, 0, 27)}, {'start': datetime.datetime(2017, 11, 3, 17, 7, 15), 'end': datetime.datetime(2017, 11, 3, 17, 35, 5)}, {'start': datetime.datetime(2017, 11, 3, 17, 36, 5), 'end': datetime.datetime(2017, 11, 3, 17, 46, 48)}, {'start': datetime.datetime(2017, 11, 3, 17, 50, 31), 'end': datetime.datetime(2017, 11, 3, 18, 0, 3)}, {'start': datetime.datetime(2017, 11, 3, 19, 22, 56), 'end': datetime.datetime(2017, 11, 3, 19, 45, 51)}, {'start': datetime.datetime(2017, 11, 4, 13, 14, 10), 'end': datetime.datetime(2017, 11, 4, 13, 26, 15)}, {'start': datetime.datetime(2017, 11, 4, 14, 18, 37), 'end': datetime.datetime(2017, 11, 4, 14, 30, 5)}, {'start': datetime.datetime(2017, 11, 4, 14, 45, 59), 'end': datetime.datetime(2017, 11, 4, 15, 3, 20)}, {'start': datetime.datetime(2017, 11, 4, 15, 16, 3), 'end': datetime.datetime(2017, 11, 4, 15, 44, 30)}, {'start': datetime.datetime(2017, 11, 4, 16, 37, 46), 'end': datetime.datetime(2017, 11, 4, 16, 58, 22)}, {'start': datetime.datetime(2017, 11, 4, 17, 13, 19), 'end': datetime.datetime(2017, 11, 4, 17, 34, 50)}, {'start': datetime.datetime(2017, 11, 4, 18, 10, 34), 'end': datetime.datetime(2017, 11, 4, 18, 58, 44)}, {'start': datetime.datetime(2017, 11, 5, 1, 56, 50), 'end': datetime.datetime(2017, 11, 5, 1, 1, 4)}, {'start': datetime.datetime(2017, 11, 5, 8, 33, 33), 'end': datetime.datetime(2017, 11, 5, 8, 53, 46)}, {'start': datetime.datetime(2017, 11, 5, 8, 58, 8), 'end': datetime.datetime(2017, 11, 5, 9, 3, 39)}, {'start': datetime.datetime(2017, 11, 5, 11, 5, 8), 'end': datetime.datetime(2017, 11, 5, 11, 30, 5)}, {'start': datetime.datetime(2017, 11, 6, 8, 50, 18), 'end': datetime.datetime(2017, 11, 6, 8, 59, 5)}, {'start': datetime.datetime(2017, 11, 6, 9, 4, 3), 'end': datetime.datetime(2017, 11, 6, 9, 13, 47)}, {'start': datetime.datetime(2017, 11, 6, 16, 19, 36), 'end': datetime.datetime(2017, 11, 6, 17, 2, 55)}, {'start': datetime.datetime(2017, 11, 6, 17, 21, 27), 'end': datetime.datetime(2017, 11, 6, 17, 34, 6)}, {'start': datetime.datetime(2017, 11, 6, 17, 36, 1), 'end': datetime.datetime(2017, 11, 6, 17, 57, 32)}, {'start': datetime.datetime(2017, 11, 6, 17, 59, 52), 'end': datetime.datetime(2017, 11, 6, 18, 15, 8)}, {'start': datetime.datetime(2017, 11, 6, 18, 18, 36), 'end': datetime.datetime(2017, 11, 6, 18, 21, 17)}, {'start': datetime.datetime(2017, 11, 6, 19, 24, 31), 'end': datetime.datetime(2017, 11, 6, 19, 37, 57)}, {'start': datetime.datetime(2017, 11, 6, 19, 49, 16), 'end': datetime.datetime(2017, 11, 6, 20, 3, 14)}, {'start': datetime.datetime(2017, 11, 7, 7, 50, 48), 'end': datetime.datetime(2017, 11, 7, 8, 1, 32)}, {'start': datetime.datetime(2017, 11, 8, 13, 11, 51), 'end': datetime.datetime(2017, 11, 8, 13, 18, 5)}, {'start': datetime.datetime(2017, 11, 8, 21, 34, 47), 'end': datetime.datetime(2017, 11, 8, 21, 46, 5)}, {'start': datetime.datetime(2017, 11, 8, 22, 2, 30), 'end': datetime.datetime(2017, 11, 8, 22, 4, 47)}, {'start': datetime.datetime(2017, 11, 9, 7, 1, 11), 'end': datetime.datetime(2017, 11, 9, 7, 12, 10)}, {'start': datetime.datetime(2017, 11, 9, 8, 2, 2), 'end': datetime.datetime(2017, 11, 9, 8, 8, 28)}, {'start': datetime.datetime(2017, 11, 9, 8, 19, 59), 'end': datetime.datetime(2017, 11, 9, 8, 32, 24)}, {'start': datetime.datetime(2017, 11, 9, 8, 41, 31), 'end': datetime.datetime(2017, 11, 9, 8, 48, 59)}, {'start': datetime.datetime(2017, 11, 9, 9, 0, 6), 'end': datetime.datetime(2017, 11, 9, 9, 9, 24)}, {'start': datetime.datetime(2017, 11, 9, 9, 9, 37), 'end': datetime.datetime(2017, 11, 9, 9, 24, 25)}, {'start': datetime.datetime(2017, 11, 9, 13, 14, 37), 'end': datetime.datetime(2017, 11, 9, 13, 25, 39)}, {'start': datetime.datetime(2017, 11, 9, 15, 20, 7), 'end': datetime.datetime(2017, 11, 9, 15, 31, 10)}, {'start': datetime.datetime(2017, 11, 9, 18, 47, 8), 'end': datetime.datetime(2017, 11, 9, 18, 53, 10)}, {'start': datetime.datetime(2017, 11, 9, 23, 35, 2), 'end': datetime.datetime(2017, 11, 9, 23, 43, 35)}, {'start': datetime.datetime(2017, 11, 10, 7, 51, 33), 'end': datetime.datetime(2017, 11, 10, 8, 2, 28)}, {'start': datetime.datetime(2017, 11, 10, 8, 38, 28), 'end': datetime.datetime(2017, 11, 10, 8, 42, 9)}, {'start': datetime.datetime(2017, 11, 11, 18, 5, 25), 'end': datetime.datetime(2017, 11, 11, 18, 13, 14)}, {'start': datetime.datetime(2017, 11, 11, 19, 39, 12), 'end': datetime.datetime(2017, 11, 11, 19, 46, 22)}, {'start': datetime.datetime(2017, 11, 11, 21, 13, 19), 'end': datetime.datetime(2017, 11, 11, 21, 16, 31)}, {'start': datetime.datetime(2017, 11, 12, 9, 46, 19), 'end': datetime.datetime(2017, 11, 12, 9, 51, 43)}, {'start': datetime.datetime(2017, 11, 13, 13, 33, 42), 'end': datetime.datetime(2017, 11, 13, 13, 54, 15)}, {'start': datetime.datetime(2017, 11, 14, 8, 40, 29), 'end': datetime.datetime(2017, 11, 14, 8, 55, 52)}, {'start': datetime.datetime(2017, 11, 15, 6, 14, 5), 'end': datetime.datetime(2017, 11, 15, 6, 30, 6)}, {'start': datetime.datetime(2017, 11, 15, 8, 14, 59), 'end': datetime.datetime(2017, 11, 15, 8, 23, 44)}, {'start': datetime.datetime(2017, 11, 15, 10, 16, 44), 'end': datetime.datetime(2017, 11, 15, 10, 33, 41)}, {'start': datetime.datetime(2017, 11, 15, 10, 33, 58), 'end': datetime.datetime(2017, 11, 15, 10, 54, 14)}, {'start': datetime.datetime(2017, 11, 15, 11, 2, 15), 'end': datetime.datetime(2017, 11, 15, 11, 14, 42)}, {'start': datetime.datetime(2017, 11, 16, 9, 27, 41), 'end': datetime.datetime(2017, 11, 16, 9, 38, 49)}, {'start': datetime.datetime(2017, 11, 16, 9, 57, 41), 'end': datetime.datetime(2017, 11, 16, 10, 18)}, {'start': datetime.datetime(2017, 11, 16, 17, 25, 5), 'end': datetime.datetime(2017, 11, 16, 17, 44, 47)}, {'start': datetime.datetime(2017, 11, 17, 13, 45, 54), 'end': datetime.datetime(2017, 11, 17, 16, 36, 56)}, {'start': datetime.datetime(2017, 11, 17, 19, 12, 49), 'end': datetime.datetime(2017, 11, 17, 19, 31, 15)}, {'start': datetime.datetime(2017, 11, 18, 10, 49, 6), 'end': datetime.datetime(2017, 11, 18, 10, 55, 45)}, {'start': datetime.datetime(2017, 11, 18, 11, 32, 12), 'end': datetime.datetime(2017, 11, 18, 11, 44, 16)}, {'start': datetime.datetime(2017, 11, 18, 18, 9, 1), 'end': datetime.datetime(2017, 11, 18, 18, 14, 31)}, {'start': datetime.datetime(2017, 11, 18, 18, 53, 10), 'end': datetime.datetime(2017, 11, 18, 19, 1, 29)}, {'start': datetime.datetime(2017, 11, 19, 14, 15, 41), 'end': datetime.datetime(2017, 11, 19, 14, 31, 49)}, {'start': datetime.datetime(2017, 11, 20, 21, 19, 19), 'end': datetime.datetime(2017, 11, 20, 21, 41, 9)}, {'start': datetime.datetime(2017, 11, 20, 22, 39, 48), 'end': datetime.datetime(2017, 11, 20, 23, 23, 37)}, {'start': datetime.datetime(2017, 11, 21, 17, 44, 25), 'end': datetime.datetime(2017, 11, 21, 17, 51, 32)}, {'start': datetime.datetime(2017, 11, 21, 18, 20, 52), 'end': datetime.datetime(2017, 11, 21, 18, 34, 51)}, {'start': datetime.datetime(2017, 11, 21, 18, 47, 32), 'end': datetime.datetime(2017, 11, 21, 18, 51, 50)}, {'start': datetime.datetime(2017, 11, 21, 19, 7, 57), 'end': datetime.datetime(2017, 11, 21, 19, 14, 33)}, {'start': datetime.datetime(2017, 11, 21, 20, 4, 56), 'end': datetime.datetime(2017, 11, 21, 20, 8, 54)}, {'start': datetime.datetime(2017, 11, 21, 21, 55, 47), 'end': datetime.datetime(2017, 11, 21, 22, 8, 12)}, {'start': datetime.datetime(2017, 11, 23, 23, 47, 43), 'end': datetime.datetime(2017, 11, 23, 23, 57, 56)}, {'start': datetime.datetime(2017, 11, 24, 6, 41, 25), 'end': datetime.datetime(2017, 11, 24, 6, 53, 15)}, {'start': d

                start                 end
0 2017-10-01 15:23:25 2017-10-01 15:26:26
1 2017-10-01 15:42:57 2017-10-01 17:49:59
2 2017-10-02 06:37:10 2017-10-02 06:42:53
3 2017-10-02 08:56:45 2017-10-02 09:18:03
4 2017-10-02 18:23:48 2017-10-02 18:45:05

start    datetime64[ns]
end      datetime64[ns]
dtype: object

In [128]:
import pandas as pd
from datetime import datetime

# Write down the format string
fmt = "%Y-%m-%d %H:%M:%S"

# Initialize a list for holding the trip data
trips = []

# Loop over all trips
for index, row in onebike_datetimes.iterrows():
    trip = {'start': datetime.strptime(row['Start date'], fmt),
            'end': datetime.strptime(row['End date'], fmt)}
    # Append the trip
    trips.append(trip)

# Create a DataFrame from the trip data and concatenate them together
trips_df = pd.DataFrame(trips)
onebike_datetimes = pd.concat([onebike_datetimes, trips_df], axis=1)

display(onebike_datetimes.head(5))
display(onebike_datetimes.dtypes)

#Code Test

# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}
  
# Loop over all trips
for index, trip in onebike_datetimes.iterrows():
  # Check to see if the trip starts before noon
  if trip['start'].hour < 12:
    # Increment the counter for before noon
    trip_counts['AM'] += 1
  else:
    # Increment the counter for after noon
    trip_counts['PM'] += 1
  
print(trip_counts)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-01 15:23:25,2017-10-01 15:26:26
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-01 15:42:57,2017-10-01 17:49:59
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,2017-10-02 06:37:10,2017-10-02 06:42:53
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member,2017-10-02 08:56:45,2017-10-02 09:18:03
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member,2017-10-02 18:23:48,2017-10-02 18:45:05

Start date                      object
End date                        object
Start station number             int64
Start station                   object
End station number               int64
End station                     object
Bike number                     object
Member type                     object
start                   datetime64[ns]
end                     datetime64[ns]
dtype: object

{'AM': 94, 'PM': 196}

**Recreating ISO format with strftime()**

In the last chapter, you used `strftime()` to create strings from `date` objects. Now that you know about `datetime` objects, let's practice doing something similar.

Re-create the `.isoformat()` method, using `.strftime()`, and print the first trip start in our data set.

Reference	
%Y	4 digit year (0000-9999)
%m	2 digit month (1-12)
%d	2 digit day (1-31)
%H	2 digit hour (0-23)
%M	2 digit minute (0-59)
%S	2 digit second (0-59)

STEPS
    Complete fmt to match the format of ISO 8601.
    Print first_start with both .isoformat() and .strftime(); they should match.

In [107]:
# Import datetime
from datetime import datetime

# Pull out the start of the first trip
first_start = onebike_datetimes.start[0]

# Format to feed to strftime()
fmt = "%Y-%m-%dT%H:%M:%S"

# Print out date with .isoformat(), then with .strftime() to compare
print(first_start.isoformat())
print(first_start.strftime(fmt))

2017-10-01T15:23:25
2017-10-01T15:23:25

**Unix timestamps**

Datetimes are sometimes stored as Unix timestamps: the number of seconds since January 1, 1970. This is especially common with computer infrastructure, like the log files that websites keep when they get visitors.

STEPS
    Complete the for loop to loop over timestamps.
    Complete the code to turn each timestamp ts into a datetime.

In [109]:
# Import datetime
from datetime import datetime

# Starting timestamps
timestamps = [1514665153, 1514664543]

# Datetime objects
dts = []

# Loop
for ts in timestamps:
  dts.append(datetime.fromtimestamp(ts))
  
# Print results
display(dts)

[datetime.datetime(2017, 12, 30, 15, 19, 13),
 datetime.datetime(2017, 12, 30, 15, 9, 3)]

#### **Working with durations**

1. Working with durations

*-# Create example datetimes*
start = datetime(2017, 10, 8, 23, 46, 47)
end = datetime(2017, 10, 9, 0, 10, 57)

*-# Subtract datetimes to create a timedelta*
duration = end - start

*-# Subtract datetimes to create a timedelta*
print(duration.total_seconds())

`1450.0`

2. Creating timedeltas

*-# Import timedelta*
from datetime import timedelta

*-# Create a timedelta*
delta1 = timedelta(seconds=1)

print(start)

`2017-10-08 23:46:47`

*-# One second later*
print(start + delta1)

`2017-10-08 23:46:48`

*-# Create a one day and one second timedelta*
delta2 = timedelta(days=1, seconds=1)
print(start)

`2017-10-08 23:46:47`

*-# One day and one second later*
print(start + delta2)

`2017-10-09 23:46:48`

3. Negative timedeltas

*-# Create a negative timedelta of one week*
delta3 = timedelta(weeks=-1)
print(start)

`2017-10-08 23:46:47`

*-# One week earlier*
print(start + delta3)

`2017-10-01 23:46:47`

*-# Same, but we'll subtract this time*
delta4 = timedelta(weeks=1)
print(start)

`2017-10-08 23:46:47`

*-# One week earlier*
print(start - delta4)

`2017-10-01 23:46:47`

In [110]:
# Create example datetimes
start = datetime(2017, 10, 8, 23, 46, 47)
end = datetime(2017, 10, 9, 0, 10, 57)
# Subtract datetimes to create a timedelta
duration = end - start
# Subtract datetimes to create a timedelta
print(duration.total_seconds())

1450.0

**Turning pairs of datetimes into durations**

When working with timestamps, we often want to know how much time has elapsed between events. Thankfully, we can use `datetime` arithmetic to ask Python to do the heavy lifting for us so we don't need to worry about day, month, or year boundaries. Let's calculate the number of seconds that the bike was out of the dock for each trip.

Continuing our work from a previous coding exercise, the bike trip data has been loaded as the list `onebike_datetimes`. Each element of the list consists of two `datetime` objects, corresponding to the start and end of a trip, respectively.

STEPS
    Within the loop:
        Use arithmetic on the start and end elements to find the length of the trip
        Save the results to trip_duration.
        Calculate trip_length_seconds from trip_duration.

In [129]:
# Initialize a list for all the trip durations
onebike_durations = []

for index, trip in onebike_datetimes.iterrows():
  # Create a timedelta object corresponding to the length of the trip
  trip_duration = trip['end'] - trip['start']
  
  # Get the total elapsed seconds in trip_duration
  trip_length_seconds = trip_duration.total_seconds()
  
  # Append the results to our list
  onebike_durations.append(trip_length_seconds)

print(onebike_durations)

# Create a DataFrame from the trip data and concatenate them together
duration_df = pd.DataFrame(onebike_durations)
#display(duration_df)
head_d_df = ['trip_duration']
duration_df.set_axis(head_d_df, axis=1, inplace=True)
#display(duration_df)
onebike_datetimes = pd.concat([onebike_datetimes, duration_df], axis=1)

display(onebike_datetimes.head(5))

[181.0, 7622.0, 343.0, 1278.0, 1277.0, 1366.0, 815.0, 545.0, 491.0, 639.0, 1678.0, 406.0, 709.0, 514.0, 492.0, 1668.0, 2242.0, 2752.0, 735.0, 330.0, 518.0, 1433.0, 204.0, 304.0, 977.0, 1399.0, 1244.0, 658.0, 800.0, 1911.0, 2471.0, 1344.0, 435.0, 271.0, 920.0, 851.0, 209.0, 453.0, 841.0, 142.0, 1023.0, 1466.0, 1636.0, 3039.0, 1571.0, 1410.0, 386.0, 1527.0, 622.0, 1450.0, 1422.0, 991.0, 1484.0, 1450.0, 929.0, 533.0, 525.0, 283.0, 133.0, 1106.0, 952.0, 553.0, 659.0, 297.0, 357.0, 989.0, 979.0, 760.0, 1110.0, 675.0, 1207.0, 1593.0, 768.0, 1446.0, 485.0, 200.0, 399.0, 242.0, 170.0, 450.0, 1078.0, 1042.0, 573.0, 748.0, 735.0, 336.0, 76913.0, 171.0, 568.0, 358.0, 917.0, 671.0, 1791.0, 318.0, 888.0, 1284.0, 11338.0, 1686.0, 5579.0, 8290.0, 1850.0, 1810.0, 870.0, 436.0, 429.0, 494.0, 1439.0, 380.0, 629.0, 962.0, 387.0, 952.0, 190.0, 739.0, 1120.0, 369.0, 2275.0, 873.0, 1670.0, 643.0, 572.0, 1375.0, 725.0, 688.0, 1041.0, 1707.0, 1236.0, 1291.0, 2890.0, -3346.0, 1213.0, 331.0, 1497.0, 527.0, 584.0, 2599.0, 759.0, 1291.0, 916.0, 161.0, 806.0, 838.0, 644.0, 374.0, 678.0, 137.0, 659.0, 386.0, 745.0, 448.0, 558.0, 888.0, 662.0, 663.0, 362.0, 513.0, 655.0, 221.0, 469.0, 430.0, 192.0, 324.0, 1233.0, 923.0, 961.0, 525.0, 1017.0, 1216.0, 747.0, 668.0, 1219.0, 1182.0, 10262.0, 1106.0, 399.0, 724.0, 330.0, 499.0, 968.0, 1310.0, 2629.0, 427.0, 839.0, 258.0, 396.0, 238.0, 745.0, 613.0, 710.0, 2068.0, 947.0, 1509.0, 254.0, 625.0, 479.0, 688.0, 238.0, 322.0, 304.0, 576.0, 1035.0, 661.0, 276.0, 1427.0, 998.0, 729.0, 723.0, 220.0, 212.0, 759.0, 268.0, 374.0, 305.0, 304.0, 289.0, 2620.0, 1288.0, 212.0, 2656.0, 996.0, 271.0, 701.0, 458.0, 116.0, 124.0, 276.0, 532.0, 257.0, 1089.0, 195.0, 384.0, 511.0, 850.0, 462.0, 322.0, 998.0, 327.0, 153.0, 152.0, 230.0, 321.0, 625.0, 391.0, 1298.0, 1018.0, 220.0, 277.0, 221.0, 216.0, 509.0, 596.0, 367.0, 447.0, 257.0, 1049.0, 1367.0, 933.0, 151.0, 153.0, 1336.0, 298.0, 380.0, 1385.0, 225.0, 181.0, 581.0, 250.0, 332.0, 845.0, 277.0, 663.0, 541.0, 652.0, 257.0, 775.0, 499.0, 1744.0, 445.0, 297.0, 1716.0, 2046.0, 809.0, 1287.0, 596.0, 1513.0, 651.0, 625.0, 279.0, 210.0, 610.0]

C:\Users\mcaba\AppData\Local\Temp\ipykernel_1828\4156889997.py:20: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  duration_df.set_axis(head_d_df, axis=1, inplace=True)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-01 15:23:25,2017-10-01 15:26:26,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-01 15:42:57,2017-10-01 17:49:59,7622.0
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,2017-10-02 06:37:10,2017-10-02 06:42:53,343.0
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member,2017-10-02 08:56:45,2017-10-02 09:18:03,1278.0
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member,2017-10-02 18:23:48,2017-10-02 18:45:05,1277.0

**Average trip time**

W20529 took 291 trips in our data set. How long were the trips on average? We can use the built-in Python functions `sum() `and `len() `to make this calculation.

Based on your last coding exercise, the data has been loaded as `onebike_durations`. Each entry is a number of seconds that the bike was out of the dock.

STEPS
    Calculate total_elapsed_time across all trips in onebike_durations.
    Calculate number_of_trips for onebike_durations.
    Divide total_elapsed_time by number_of_trips to get the average trip length.

In [43]:
# What was the total duration of all trips?
total_elapsed_time = sum(onebike_durations)

# What was the total number of trips?
number_of_trips = len(onebike_durations)
  
# Divide the total duration by the number of trips
print(total_elapsed_time / number_of_trips)

1178.9310344827586

**The long and the short of why time is hard**

Out of 291 trips taken by W20529, how long was the longest? How short was the shortest? Does anything look fishy?

As before, data has been loaded as `onebike_durations`.

STEPS
    Calculate shortest_trip from onebike_durations.
    Calculate longest_trip from onebike_durations.
    Print the results, turning shortest_trip and longest_trip into strings so they can print.

In [44]:
# Calculate shortest and longest trips
shortest_trip = min(onebike_durations)
longest_trip = max(onebike_durations)

# Print out the results
print("The shortest trip was " + str(shortest_trip) + " seconds")
print("The longest trip was " + str(longest_trip) + " seconds")

The shortest trip was -3346.0 seconds
The longest trip was 76913.0 seconds

## **Time Zones and Daylight Saving (Module 03-051)**

#### **UTC offsets**

1. UTC
*-# Import relevant classes*
from datetime import datetime, timedelta, timezone

*-# US Eastern Standard time zone*
ET = timezone(timedelta(hours=-5))

*-# Timezone-aware datetime*
dt = datetime(2017, 12, 30, 15, 9, 3, tzinfo = ET)
print(dt)

`2017-12-30 15:09:03-05:00`

*-# India Standard time zone*
IST = timezone(timedelta(hours=5, minutes=30))

*-# Convert to IST*
print(dt.astimezone(IST))

`2017-12-31 01:39:03+05:30`

2. Adjusting timezone vs changing tzinfo

print(dt)'

`2017-12-30 15:09:03-05:00`

print(dt.replace(tzinfo=timezone.utc))

`2017-12-30 15:09:03+00:00`

*-# Change original to match UTC*
print(dt.astimezone(timezone.utc))

`2017-12-30 20:09:03+00:00`

**Creating timezone aware datetimes**

In this exercise, you will practice setting timezones manually.

STEP01
    Import timezone.
    Set the tzinfo to UTC, without using timedelta.
STEP02
    Set pst to be a timezone set for UTC-8.
    Set dt's timezone to be pst.
STEP03
    Set aedt to be a timezone set for UTC+11.
    Set dt's timezone to be aedt.

In [45]:
# Import datetime, timezone
from datetime import datetime, timezone

# October 1, 2017 at 15:26:26, UTC
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=timezone.utc)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26+00:00

In [46]:
# Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Pacific Standard Time, or UTC-8
pst = timezone(timedelta(hours=-8))

# October 1, 2017 at 15:26:26, UTC-8
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo =pst)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26-08:00

In [59]:
# Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Australian Eastern Daylight Time, or UTC+11
aedt = timezone(timedelta(hours=11))


# October 1, 2017 at 15:26:26, UTC+11
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=aedt)

# Print results
print(dt.isoformat())
print(dt)

2017-10-01T15:26:26+11:00
2017-10-01 15:26:26+11:00

**Setting timezones**

Now that you have the hang of setting timezones one at a time, let's look at setting them for the first ten trips that W20529 took.

`timezone` and `timedelta` have already been imported. Make the change using `.replace()`

STEPS
    Create edt, a timezone object whose UTC offset is -4 hours.
    Within the for loop:
    Set the tzinfo for trip['start'].
    Set the tzinfo for trip['end'].

In [103]:
# Create a timezone object corresponding to UTC-4
edt = timezone(timedelta(hours=-4))

# Loop over trips, updating the start and end datetimes to be in UTC-4
for index, trip in onebike_datetimes.iterrows():
  # Update trip['start'] and trip['end']
  trip['start'] = trip['start'].replace(tzinfo=edt)
  trip['end'] = trip['end'].replace(tzinfo=edt)

display(onebike_datetimes.head(5))
display(onebike_datetimes.dtypes)

#Not working as intended

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-01 15:23:25,2017-10-01 15:26:26,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-01 15:42:57,2017-10-01 17:49:59,7622.0
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,2017-10-02 06:37:10,2017-10-02 06:42:53,343.0
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member,2017-10-02 08:56:45,2017-10-02 09:18:03,1278.0
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member,2017-10-02 18:23:48,2017-10-02 18:45:05,1277.0

Start date                      object
End date                        object
Start station number             int64
Start station                   object
End station number               int64
End station                     object
Bike number                     object
Member type                     object
start                   datetime64[ns]
end                     datetime64[ns]
trip_duration                  float64
dtype: object

In [130]:
# Create a timezone object corresponding to UTC-4
edt = timezone(timedelta(hours=-4))

# Loop over trips, updating the start and end datetimes to be in UTC-4
for index, trip in onebike_datetimes.iterrows():
    # Convert start and end to UTC timezone
    trip['start'] = trip['start'].tz_localize('UTC')
    trip['end'] = trip['end'].tz_localize('UTC')

    # Convert start and end to UTC-4 timezone
    trip['start'] = trip['start'].tz_convert(edt)
    trip['end'] = trip['end'].tz_convert(edt)


# Convert start and end columns to datetime with timezone information
onebike_datetimes['start'] = pd.to_datetime(onebike_datetimes['start']).dt.tz_localize(edt)
onebike_datetimes['end'] = pd.to_datetime(onebike_datetimes['end']).dt.tz_localize(edt)


# Display the first few rows and data types
display(onebike_datetimes.head(5))
display(onebike_datetimes.dtypes)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-01 15:23:25-04:00,2017-10-01 15:26:26-04:00,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-01 15:42:57-04:00,2017-10-01 17:49:59-04:00,7622.0
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,2017-10-02 06:37:10-04:00,2017-10-02 06:42:53-04:00,343.0
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member,2017-10-02 08:56:45-04:00,2017-10-02 09:18:03-04:00,1278.0
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member,2017-10-02 18:23:48-04:00,2017-10-02 18:45:05-04:00,1277.0

Start date                                 object
End date                                   object
Start station number                        int64
Start station                              object
End station number                          int64
End station                                object
Bike number                                object
Member type                                object
start                   datetime64[ns, UTC-04:00]
end                     datetime64[ns, UTC-04:00]
trip_duration                             float64
dtype: object

**What time did the bike leave in UTC?**

Having set the timezone for the first ten rides that W20529 took, let's see what time the bike left in UTC. We've already loaded the results of the previous exercise into memory.

STEPS
Within the for loop, move dt to be in UTC. Use timezone.utc as a convenient shortcut for UTC.

In [107]:
# Loop over the trips
for index, trip in onebike_datetimes.iterrows():
  # Pull out the start
  dt = trip['start']
  # Move dt to be in UTC
  dt = dt.astimezone(timezone.utc)
  
  # Print the start time in UTC
  print('Original:', trip['start'], '| UTC:', dt.isoformat())

Original: 2017-10-01 15:23:25-04:00 | UTC: 2017-10-01T19:23:25+00:00
Original: 2017-10-01 15:42:57-04:00 | UTC: 2017-10-01T19:42:57+00:00
Original: 2017-10-02 06:37:10-04:00 | UTC: 2017-10-02T10:37:10+00:00
Original: 2017-10-02 08:56:45-04:00 | UTC: 2017-10-02T12:56:45+00:00
Original: 2017-10-02 18:23:48-04:00 | UTC: 2017-10-02T22:23:48+00:00
Original: 2017-10-02 18:48:08-04:00 | UTC: 2017-10-02T22:48:08+00:00
Original: 2017-10-02 19:18:10-04:00 | UTC: 2017-10-02T23:18:10+00:00
Original: 2017-10-02 19:37:32-04:00 | UTC: 2017-10-02T23:37:32+00:00
Original: 2017-10-03 08:24:16-04:00 | UTC: 2017-10-03T12:24:16+00:00
Original: 2017-10-03 18:17:07-04:00 | UTC: 2017-10-03T22:17:07+00:00
Original: 2017-10-03 19:24:10-04:00 | UTC: 2017-10-03T23:24:10+00:00
Original: 2017-10-03 20:17:06-04:00 | UTC: 2017-10-04T00:17:06+00:00
Original: 2017-10-03 20:45:21-04:00 | UTC: 2017-10-04T00:45:21+00:00
Original: 2017-10-04 07:04:57-04:00 | UTC: 2017-10-04T11:04:57+00:00
Original: 2017-10-04 07:13:42-04:00 | UTC: 2017-10-04T11:13:42+00:00
Original: 2017-10-04 14:22:12-04:00 | UTC: 2017-10-04T18:22:12+00:00
Original: 2017-10-04 15:07:27-04:00 | UTC: 2017-10-04T19:07:27+00:00
Original: 2017-10-04 15:46:41-04:00 | UTC: 2017-10-04T19:46:41+00:00
Original: 2017-10-04 16:34:44-04:00 | UTC: 2017-10-04T20:34:44+00:00
Original: 2017-10-04 17:26:06-04:00 | UTC: 2017-10-04T21:26:06+00:00
Original: 2017-10-04 17:42:03-04:00 | UTC: 2017-10-04T21:42:03+00:00
Original: 2017-10-05 07:49:02-04:00 | UTC: 2017-10-05T11:49:02+00:00
Original: 2017-10-05 08:26:21-04:00 | UTC: 2017-10-05T12:26:21+00:00
Original: 2017-10-05 08:33:27-04:00 | UTC: 2017-10-05T12:33:27+00:00
Original: 2017-10-05 16:35:35-04:00 | UTC: 2017-10-05T20:35:35+00:00
Original: 2017-10-05 17:53:31-04:00 | UTC: 2017-10-05T21:53:31+00:00
Original: 2017-10-06 08:17:17-04:00 | UTC: 2017-10-06T12:17:17+00:00
Original: 2017-10-06 11:39:40-04:00 | UTC: 2017-10-06T15:39:40+00:00
Original: 2017-10-06 12:59:54-04:00 | UTC: 2017-10-06T16:59:54+00:00
Original: 2017-10-06 13:43:05-04:00 | UTC: 2017-10-06T17:43:05+00:00
Original: 2017-10-06 14:28:15-04:00 | UTC: 2017-10-06T18:28:15+00:00
Original: 2017-10-06 15:50:10-04:00 | UTC: 2017-10-06T19:50:10+00:00
Original: 2017-10-06 16:32:16-04:00 | UTC: 2017-10-06T20:32:16+00:00
Original: 2017-10-06 16:44:08-04:00 | UTC: 2017-10-06T20:44:08+00:00
Original: 2017-10-06 16:53:43-04:00 | UTC: 2017-10-06T20:53:43+00:00
Original: 2017-10-07 11:38:55-04:00 | UTC: 2017-10-07T15:38:55+00:00
Original: 2017-10-07 14:03:36-04:00 | UTC: 2017-10-07T18:03:36+00:00
Original: 2017-10-07 14:20:03-04:00 | UTC: 2017-10-07T18:20:03+00:00
Original: 2017-10-07 14:30:50-04:00 | UTC: 2017-10-07T18:30:50+00:00
Original: 2017-10-08 00:28:26-04:00 | UTC: 2017-10-08T04:28:26+00:00
Original: 2017-10-08 11:16:21-04:00 | UTC: 2017-10-08T15:16:21+00:00
Original: 2017-10-08 12:37:03-04:00 | UTC: 2017-10-08T16:37:03+00:00
Original: 2017-10-08 13:30:37-04:00 | UTC: 2017-10-08T17:30:37+00:00
Original: 2017-10-08 14:16:40-04:00 | UTC: 2017-10-08T18:16:40+00:00
Original: 2017-10-08 15:23:50-04:00 | UTC: 2017-10-08T19:23:50+00:00
Original: 2017-10-08 15:54:12-04:00 | UTC: 2017-10-08T19:54:12+00:00
Original: 2017-10-08 16:28:52-04:00 | UTC: 2017-10-08T20:28:52+00:00
Original: 2017-10-08 23:08:14-04:00 | UTC: 2017-10-09T03:08:14+00:00
Original: 2017-10-08 23:34:49-04:00 | UTC: 2017-10-09T03:34:49+00:00
Original: 2017-10-08 23:46:47-04:00 | UTC: 2017-10-09T03:46:47+00:00
Original: 2017-10-09 00:12:58-04:00 | UTC: 2017-10-09T04:12:58+00:00
Original: 2017-10-09 00:37:02-04:00 | UTC: 2017-10-09T04:37:02+00:00
Original: 2017-10-09 01:23:29-04:00 | UTC: 2017-10-09T05:23:29+00:00
Original: 2017-10-09 01:49:25-04:00 | UTC: 2017-10-09T05:49:25+00:00
Original: 2017-10-09 02:14:11-04:00 | UTC: 2017-10-09T06:14:11+00:00
Original: 2017-10-09 13:04:32-04:00 | UTC: 2017-10-09T17:04:32+00:00
Original: 2017-10-09 14:30:10-04:00 | UTC: 2017-10-09T18:30:10+00:00
Original: 2017-10-09 15:06:47-04:00 | UTC: 2017-10-09T19:06:47+00:00
Original: 2017-10-09 16:43:25-04:00 | UTC: 2017-10-09T20:43:25+00:00
Original: 2017-10-10 15:32:58-04:00 | UTC: 2017-10-10T19:32:58+00:00
Original: 2017-10-10 16:47:55-04:00 | UTC: 2017-10-10T20:47:55+00:00
Original: 2017-10-10 17:51:05-04:00 | UTC: 2017-10-10T21:51:05+00:00
Original: 2017-10-10 18:08:12-04:00 | UTC: 2017-10-10T22:08:12+00:00
Original: 2017-10-10 19:09:35-04:00 | UTC: 2017-10-10T23:09:35+00:00
Original: 2017-10-10 19:17:11-04:00 | UTC: 2017-10-10T23:17:11+00:00
Original: 2017-10-10 19:28:11-04:00 | UTC: 2017-10-10T23:28:11+00:00
Original: 2017-10-10 19:55:35-04:00 | UTC: 2017-10-10T23:55:35+00:00
Original: 2017-10-10 22:20:43-04:00 | UTC: 2017-10-11T02:20:43+00:00
Original: 2017-10-11 04:40:52-04:00 | UTC: 2017-10-11T08:40:52+00:00
Original: 2017-10-11 06:28:58-04:00 | UTC: 2017-10-11T10:28:58+00:00
Original: 2017-10-11 16:41:07-04:00 | UTC: 2017-10-11T20:41:07+00:00
Original: 2017-10-12 08:08:30-04:00 | UTC: 2017-10-12T12:08:30+00:00
Original: 2017-10-12 08:47:02-04:00 | UTC: 2017-10-12T12:47:02+00:00
Original: 2017-10-12 13:13:39-04:00 | UTC: 2017-10-12T17:13:39+00:00
Original: 2017-10-12 13:40:12-04:00 | UTC: 2017-10-12T17:40:12+00:00
Original: 2017-10-12 13:49:56-04:00 | UTC: 2017-10-12T17:49:56+00:00
Original: 2017-10-12 14:33:18-04:00 | UTC: 2017-10-12T18:33:18+00:00
Original: 2017-10-13 15:55:39-04:00 | UTC: 2017-10-13T19:55:39+00:00
Original: 2017-10-17 17:58:48-04:00 | UTC: 2017-10-17T21:58:48+00:00
Original: 2017-10-19 20:21:45-04:00 | UTC: 2017-10-20T00:21:45+00:00
Original: 2017-10-19 21:11:39-04:00 | UTC: 2017-10-20T01:11:39+00:00
Original: 2017-10-19 21:30:01-04:00 | UTC: 2017-10-20T01:30:01+00:00
Original: 2017-10-19 21:47:34-04:00 | UTC: 2017-10-20T01:47:34+00:00
Original: 2017-10-19 21:57:24-04:00 | UTC: 2017-10-20T01:57:24+00:00
Original: 2017-10-21 12:24:09-04:00 | UTC: 2017-10-21T16:24:09+00:00
Original: 2017-10-21 12:36:37-04:00 | UTC: 2017-10-21T16:36:37+00:00
Original: 2017-10-21 13:47:43-04:00 | UTC: 2017-10-21T17:47:43+00:00
Original: 2017-10-22 13:28:53-04:00 | UTC: 2017-10-22T17:28:53+00:00
Original: 2017-10-22 13:47:05-04:00 | UTC: 2017-10-22T17:47:05+00:00
Original: 2017-10-22 14:26:41-04:00 | UTC: 2017-10-22T18:26:41+00:00
Original: 2017-10-22 14:54:41-04:00 | UTC: 2017-10-22T18:54:41+00:00
Original: 2017-10-22 16:40:29-04:00 | UTC: 2017-10-22T20:40:29+00:00
Original: 2017-10-22 17:58:46-04:00 | UTC: 2017-10-22T21:58:46+00:00
Original: 2017-10-22 18:45:16-04:00 | UTC: 2017-10-22T22:45:16+00:00
Original: 2017-10-22 18:56:22-04:00 | UTC: 2017-10-22T22:56:22+00:00
Original: 2017-10-23 10:14:08-04:00 | UTC: 2017-10-23T14:14:08+00:00
Original: 2017-10-23 11:29:36-04:00 | UTC: 2017-10-23T15:29:36+00:00
Original: 2017-10-23 15:04:52-04:00 | UTC: 2017-10-23T19:04:52+00:00
Original: 2017-10-23 15:33:48-04:00 | UTC: 2017-10-23T19:33:48+00:00
Original: 2017-10-23 17:13:16-04:00 | UTC: 2017-10-23T21:13:16+00:00
Original: 2017-10-23 19:55:03-04:00 | UTC: 2017-10-23T23:55:03+00:00
Original: 2017-10-23 21:47:54-04:00 | UTC: 2017-10-24T01:47:54+00:00
Original: 2017-10-23 22:34:12-04:00 | UTC: 2017-10-24T02:34:12+00:00
Original: 2017-10-24 06:55:01-04:00 | UTC: 2017-10-24T10:55:01+00:00
Original: 2017-10-24 14:56:07-04:00 | UTC: 2017-10-24T18:56:07+00:00
Original: 2017-10-24 15:51:36-04:00 | UTC: 2017-10-24T19:51:36+00:00
Original: 2017-10-24 16:31:10-04:00 | UTC: 2017-10-24T20:31:10+00:00
Original: 2017-10-28 14:26:14-04:00 | UTC: 2017-10-28T18:26:14+00:00
Original: 2017-11-01 09:41:54-04:00 | UTC: 2017-11-01T13:41:54+00:00
Original: 2017-11-01 20:16:11-04:00 | UTC: 2017-11-02T00:16:11+00:00
Original: 2017-11-02 19:44:29-04:00 | UTC: 2017-11-02T23:44:29+00:00
Original: 2017-11-02 20:14:37-04:00 | UTC: 2017-11-03T00:14:37+00:00
Original: 2017-11-02 21:35:47-04:00 | UTC: 2017-11-03T01:35:47+00:00
Original: 2017-11-03 09:59:27-04:00 | UTC: 2017-11-03T13:59:27+00:00
Original: 2017-11-03 10:13:22-04:00 | UTC: 2017-11-03T14:13:22+00:00
Original: 2017-11-03 10:44:25-04:00 | UTC: 2017-11-03T14:44:25+00:00
Original: 2017-11-03 16:06:43-04:00 | UTC: 2017-11-03T20:06:43+00:00
Original: 2017-11-03 16:45:54-04:00 | UTC: 2017-11-03T20:45:54+00:00
Original: 2017-11-03 17:07:15-04:00 | UTC: 2017-11-03T21:07:15+00:00
Original: 2017-11-03 17:36:05-04:00 | UTC: 2017-11-03T21:36:05+00:00
Original: 2017-11-03 17:50:31-04:00 | UTC: 2017-11-03T21:50:31+00:00
Original: 2017-11-03 19:22:56-04:00 | UTC: 2017-11-03T23:22:56+00:00
Original: 2017-11-04 13:14:10-04:00 | UTC: 2017-11-04T17:14:10+00:00
Original: 2017-11-04 14:18:37-04:00 | UTC: 2017-11-04T18:18:37+00:00
Original: 2017-11-04 14:45:59-04:00 | UTC: 2017-11-04T18:45:59+00:00
Original: 2017-11-04 15:16:03-04:00 | UTC: 2017-11-04T19:16:03+00:00
Original: 2017-11-04 16:37:46-04:00 | UTC: 2017-11-04T20:37:46+00:00
Original: 2017-11-04 17:13:19-04:00 | UTC: 2017-11-04T21:13:19+00:00
Original: 2017-11-04 18:10:34-04:00 | UTC: 2017-11-04T22:10:34+00:00
Original: 2017-11-05 01:56:50-04:00 | UTC: 2017-11-05T05:56:50+00:00
Original: 2017-11-05 08:33:33-04:00 | UTC: 2017-11-05T12:33:33+00:00
Original: 2017-11-05 08:58:08-04:00 | UTC: 2017-11-05T12:58:08+00:00
Original: 2017-11-05 11:05:08-04:00 | UTC: 2017-11-05T15:05:08+00:00
Original: 2017-11-06 08:50:18-04:00 | UTC: 2017-11-06T12:50:18+00:00
Original: 2017-11-06 09:04:03-04:00 | UTC: 2017-11-06T13:04:03+00:00
Original: 2017-11-06 16:19:36-04:00 | UTC: 2017-11-06T20:19:36+00:00
Original: 2017-11-06 17:21:27-04:00 | UTC: 2017-11-06T21:21:27+00:00
Original: 2017-11-06 17:36:01-04:00 | UTC: 2017-11-06T21:36:01+00:00
Original: 2017-11-06 17:59:52-04:00 | UTC: 2017-11-06T21:59:52+00:00
Original: 2017-11-06 18:18:36-04:00 | UTC: 2017-11-06T22:18:36+00:00
Original: 2017-11-06 19:24:31-04:00 | UTC: 2017-11-06T23:24:31+00:00
Original: 2017-11-06 19:49:16-04:00 | UTC: 2017-11-06T23:49:16+00:00
Original: 2017-11-07 07:50:48-04:00 | UTC: 2017-11-07T11:50:48+00:00
Original: 2017-11-08 13:11:51-04:00 | UTC: 2017-11-08T17:11:51+00:00
Original: 2017-11-08 21:34:47-04:00 | UTC: 2017-11-09T01:34:47+00:00
Original: 2017-11-08 22:02:30-04:00 | UTC: 2017-11-09T02:02:30+00:00
Original: 2017-11-09 07:01:11-04:00 | UTC: 2017-11-09T11:01:11+00:00
Original: 2017-11-09 08:02:02-04:00 | UTC: 2017-11-09T12:02:02+00:00
Original: 2017-11-09 08:19:59-04:00 | UTC: 2017-11-09T12:19:59+00:00
Original: 2017-11-09 08:41:31-04:00 | UTC: 2017-11-09T12:41:31+00:00
Original: 2017-11-09 09:00:06-04:00 | UTC: 2017-11-09T13:00:06+00:00
Original: 2017-11-09 09:09:37-04:00 | UTC: 2017-11-09T13:09:37+00:00
Original: 2017-11-09 13:14:37-04:00 | UTC: 2017-11-09T17:14:37+00:00
Original: 2017-11-09 15:20:07-04:00 | UTC: 2017-11-09T19:20:07+00:00
Original: 2017-11-09 18:47:08-04:00 | UTC: 2017-11-09T22:47:08+00:00
Original: 2017-11-09 23:35:02-04:00 | UTC: 2017-11-10T03:35:02+00:00
Original: 2017-11-10 07:51:33-04:00 | UTC: 2017-11-10T11:51:33+00:00
Original: 2017-11-10 08:38:28-04:00 | UTC: 2017-11-10T12:38:28+00:00
Original: 2017-11-11 18:05:25-04:00 | UTC: 2017-11-11T22:05:25+00:00
Original: 2017-11-11 19:39:12-04:00 | UTC: 2017-11-11T23:39:12+00:00
Original: 2017-11-11 21:13:19-04:00 | UTC: 2017-11-12T01:13:19+00:00
Original: 2017-11-12 09:46:19-04:00 | UTC: 2017-11-12T13:46:19+00:00
Original: 2017-11-13 13:33:42-04:00 | UTC: 2017-11-13T17:33:42+00:00
Original: 2017-11-14 08:40:29-04:00 | UTC: 2017-11-14T12:40:29+00:00
Original: 2017-11-15 06:14:05-04:00 | UTC: 2017-11-15T10:14:05+00:00
Original: 2017-11-15 08:14:59-04:00 | UTC: 2017-11-15T12:14:59+00:00
Original: 2017-11-15 10:16:44-04:00 | UTC: 2017-11-15T14:16:44+00:00
Original: 2017-11-15 10:33:58-04:00 | UTC: 2017-11-15T14:33:58+00:00
Original: 2017-11-15 11:02:15-04:00 | UTC: 2017-11-15T15:02:15+00:00
Original: 2017-11-16 09:27:41-04:00 | UTC: 2017-11-16T13:27:41+00:00
Original: 2017-11-16 09:57:41-04:00 | UTC: 2017-11-16T13:57:41+00:00
Original: 2017-11-16 17:25:05-04:00 | UTC: 2017-11-16T21:25:05+00:00
Original: 2017-11-17 13:45:54-04:00 | UTC: 2017-11-17T17:45:54+00:00
Original: 2017-11-17 19:12:49-04:00 | UTC: 2017-11-17T23:12:49+00:00
Original: 2017-11-18 10:49:06-04:00 | UTC: 2017-11-18T14:49:06+00:00
Original: 2017-11-18 11:32:12-04:00 | UTC: 2017-11-18T15:32:12+00:00
Original: 2017-11-18 18:09:01-04:00 | UTC: 2017-11-18T22:09:01+00:00
Original: 2017-11-18 18:53:10-04:00 | UTC: 2017-11-18T22:53:10+00:00
Original: 2017-11-19 14:15:41-04:00 | UTC: 2017-11-19T18:15:41+00:00
Original: 2017-11-20 21:19:19-04:00 | UTC: 2017-11-21T01:19:19+00:00
Original: 2017-11-20 22:39:48-04:00 | UTC: 2017-11-21T02:39:48+00:00
Original: 2017-11-21 17:44:25-04:00 | UTC: 2017-11-21T21:44:25+00:00
Original: 2017-11-21 18:20:52-04:00 | UTC: 2017-11-21T22:20:52+00:00
Original: 2017-11-21 18:47:32-04:00 | UTC: 2017-11-21T22:47:32+00:00
Original: 2017-11-21 19:07:57-04:00 | UTC: 2017-11-21T23:07:57+00:00
Original: 2017-11-21 20:04:56-04:00 | UTC: 2017-11-22T00:04:56+00:00
Original: 2017-11-21 21:55:47-04:00 | UTC: 2017-11-22T01:55:47+00:00
Original: 2017-11-23 23:47:43-04:00 | UTC: 2017-11-24T03:47:43+00:00
Original: 2017-11-24 06:41:25-04:00 | UTC: 2017-11-24T10:41:25+00:00
Original: 2017-11-24 06:58:56-04:00 | UTC: 2017-11-24T10:58:56+00:00
Original: 2017-11-26 12:25:49-04:00 | UTC: 2017-11-26T16:25:49+00:00
Original: 2017-11-27 05:29:04-04:00 | UTC: 2017-11-27T09:29:04+00:00
Original: 2017-11-27 06:06:47-04:00 | UTC: 2017-11-27T10:06:47+00:00
Original: 2017-11-27 06:45:14-04:00 | UTC: 2017-11-27T10:45:14+00:00
Original: 2017-11-27 09:39:44-04:00 | UTC: 2017-11-27T13:39:44+00:00
Original: 2017-11-27 11:09:18-04:00 | UTC: 2017-11-27T15:09:18+00:00
Original: 2017-11-27 11:31:46-04:00 | UTC: 2017-11-27T15:31:46+00:00
Original: 2017-11-27 12:07:14-04:00 | UTC: 2017-11-27T16:07:14+00:00
Original: 2017-11-27 12:21:40-04:00 | UTC: 2017-11-27T16:21:40+00:00
Original: 2017-11-27 17:26:31-04:00 | UTC: 2017-11-27T21:26:31+00:00
Original: 2017-11-27 18:11:49-04:00 | UTC: 2017-11-27T22:11:49+00:00
Original: 2017-11-27 19:36:16-04:00 | UTC: 2017-11-27T23:36:16+00:00
Original: 2017-11-27 20:12:57-04:00 | UTC: 2017-11-28T00:12:57+00:00
Original: 2017-11-28 08:18:06-04:00 | UTC: 2017-11-28T12:18:06+00:00
Original: 2017-11-28 19:17:23-04:00 | UTC: 2017-11-28T23:17:23+00:00
Original: 2017-11-28 19:34:15-04:00 | UTC: 2017-11-28T23:34:15+00:00
Original: 2017-11-28 21:27:29-04:00 | UTC: 2017-11-29T01:27:29+00:00
Original: 2017-11-29 07:47:38-04:00 | UTC: 2017-11-29T11:47:38+00:00
Original: 2017-11-29 09:50:12-04:00 | UTC: 2017-11-29T13:50:12+00:00
Original: 2017-11-29 17:03:42-04:00 | UTC: 2017-11-29T21:03:42+00:00
Original: 2017-11-29 18:19:15-04:00 | UTC: 2017-11-29T22:19:15+00:00
Original: 2017-12-01 17:03:58-04:00 | UTC: 2017-12-01T21:03:58+00:00
Original: 2017-12-02 07:55:56-04:00 | UTC: 2017-12-02T11:55:56+00:00
Original: 2017-12-02 09:16:14-04:00 | UTC: 2017-12-02T13:16:14+00:00
Original: 2017-12-02 19:48:29-04:00 | UTC: 2017-12-02T23:48:29+00:00
Original: 2017-12-03 14:36:29-04:00 | UTC: 2017-12-03T18:36:29+00:00
Original: 2017-12-03 16:04:02-04:00 | UTC: 2017-12-03T20:04:02+00:00
Original: 2017-12-03 16:40:26-04:00 | UTC: 2017-12-03T20:40:26+00:00
Original: 2017-12-03 17:20:17-04:00 | UTC: 2017-12-03T21:20:17+00:00
Original: 2017-12-04 08:34:24-04:00 | UTC: 2017-12-04T12:34:24+00:00
Original: 2017-12-04 17:49:26-04:00 | UTC: 2017-12-04T21:49:26+00:00
Original: 2017-12-04 18:38:52-04:00 | UTC: 2017-12-04T22:38:52+00:00
Original: 2017-12-04 21:39:20-04:00 | UTC: 2017-12-05T01:39:20+00:00
Original: 2017-12-04 21:54:21-04:00 | UTC: 2017-12-05T01:54:21+00:00
Original: 2017-12-05 08:50:50-04:00 | UTC: 2017-12-05T12:50:50+00:00
Original: 2017-12-06 08:19:38-04:00 | UTC: 2017-12-06T12:19:38+00:00
Original: 2017-12-06 18:19:19-04:00 | UTC: 2017-12-06T22:19:19+00:00
Original: 2017-12-06 18:28:55-04:00 | UTC: 2017-12-06T22:28:55+00:00
Original: 2017-12-06 20:03:29-04:00 | UTC: 2017-12-07T00:03:29+00:00
Original: 2017-12-06 20:36:42-04:00 | UTC: 2017-12-07T00:36:42+00:00
Original: 2017-12-07 05:54:51-04:00 | UTC: 2017-12-07T09:54:51+00:00
Original: 2017-12-08 16:47:18-04:00 | UTC: 2017-12-08T20:47:18+00:00
Original: 2017-12-08 19:15:02-04:00 | UTC: 2017-12-08T23:15:02+00:00
Original: 2017-12-09 22:39:37-04:00 | UTC: 2017-12-10T02:39:37+00:00
Original: 2017-12-09 23:00:10-04:00 | UTC: 2017-12-10T03:00:10+00:00
Original: 2017-12-10 00:39:24-04:00 | UTC: 2017-12-10T04:39:24+00:00
Original: 2017-12-10 01:02:42-04:00 | UTC: 2017-12-10T05:02:42+00:00
Original: 2017-12-10 01:08:57-04:00 | UTC: 2017-12-10T05:08:57+00:00
Original: 2017-12-10 13:49:09-04:00 | UTC: 2017-12-10T17:49:09+00:00
Original: 2017-12-10 15:14:29-04:00 | UTC: 2017-12-10T19:14:29+00:00
Original: 2017-12-10 15:31:07-04:00 | UTC: 2017-12-10T19:31:07+00:00
Original: 2017-12-10 16:20:06-04:00 | UTC: 2017-12-10T20:20:06+00:00
Original: 2017-12-10 17:07:54-04:00 | UTC: 2017-12-10T21:07:54+00:00
Original: 2017-12-10 17:23:47-04:00 | UTC: 2017-12-10T21:23:47+00:00
Original: 2017-12-11 06:17:06-04:00 | UTC: 2017-12-11T10:17:06+00:00
Original: 2017-12-11 09:08:41-04:00 | UTC: 2017-12-11T13:08:41+00:00
Original: 2017-12-11 09:15:41-04:00 | UTC: 2017-12-11T13:15:41+00:00
Original: 2017-12-12 08:55:53-04:00 | UTC: 2017-12-12T12:55:53+00:00
Original: 2017-12-13 17:14:56-04:00 | UTC: 2017-12-13T21:14:56+00:00
Original: 2017-12-13 18:52:16-04:00 | UTC: 2017-12-13T22:52:16+00:00
Original: 2017-12-14 09:01:10-04:00 | UTC: 2017-12-14T13:01:10+00:00
Original: 2017-12-14 09:12:59-04:00 | UTC: 2017-12-14T13:12:59+00:00
Original: 2017-12-14 11:54:33-04:00 | UTC: 2017-12-14T15:54:33+00:00
Original: 2017-12-14 14:40:23-04:00 | UTC: 2017-12-14T18:40:23+00:00
Original: 2017-12-14 15:08:55-04:00 | UTC: 2017-12-14T19:08:55+00:00
Original: 2017-12-14 17:46:17-04:00 | UTC: 2017-12-14T21:46:17+00:00
Original: 2017-12-15 09:08:12-04:00 | UTC: 2017-12-15T13:08:12+00:00
Original: 2017-12-16 09:33:46-04:00 | UTC: 2017-12-16T13:33:46+00:00
Original: 2017-12-16 11:02:31-04:00 | UTC: 2017-12-16T15:02:31+00:00
Original: 2017-12-17 10:09:47-04:00 | UTC: 2017-12-17T14:09:47+00:00
Original: 2017-12-18 08:02:36-04:00 | UTC: 2017-12-18T12:02:36+00:00
Original: 2017-12-18 16:03:00-04:00 | UTC: 2017-12-18T20:03:00+00:00
Original: 2017-12-18 16:30:07-04:00 | UTC: 2017-12-18T20:30:07+00:00
Original: 2017-12-18 19:18:23-04:00 | UTC: 2017-12-18T23:18:23+00:00
Original: 2017-12-18 20:14:46-04:00 | UTC: 2017-12-19T00:14:46+00:00
Original: 2017-12-19 19:14:08-04:00 | UTC: 2017-12-19T23:14:08+00:00
Original: 2017-12-19 19:39:36-04:00 | UTC: 2017-12-19T23:39:36+00:00
Original: 2017-12-20 08:05:14-04:00 | UTC: 2017-12-20T12:05:14+00:00
Original: 2017-12-20 08:15:45-04:00 | UTC: 2017-12-20T12:15:45+00:00
Original: 2017-12-20 08:33:32-04:00 | UTC: 2017-12-20T12:33:32+00:00
Original: 2017-12-20 13:43:36-04:00 | UTC: 2017-12-20T17:43:36+00:00
Original: 2017-12-20 18:57:53-04:00 | UTC: 2017-12-20T22:57:53+00:00
Original: 2017-12-21 07:21:11-04:00 | UTC: 2017-12-21T11:21:11+00:00
Original: 2017-12-21 08:01:58-04:00 | UTC: 2017-12-21T12:01:58+00:00
Original: 2017-12-21 13:20:54-04:00 | UTC: 2017-12-21T17:20:54+00:00
Original: 2017-12-21 15:26:08-04:00 | UTC: 2017-12-21T19:26:08+00:00
Original: 2017-12-21 18:09:46-04:00 | UTC: 2017-12-21T22:09:46+00:00
Original: 2017-12-22 16:14:21-04:00 | UTC: 2017-12-22T20:14:21+00:00
Original: 2017-12-22 16:29:17-04:00 | UTC: 2017-12-22T20:29:17+00:00
Original: 2017-12-25 12:49:51-04:00 | UTC: 2017-12-25T16:49:51+00:00
Original: 2017-12-25 13:46:44-04:00 | UTC: 2017-12-25T17:46:44+00:00
Original: 2017-12-26 10:40:16-04:00 | UTC: 2017-12-26T14:40:16+00:00
Original: 2017-12-27 16:56:12-04:00 | UTC: 2017-12-27T20:56:12+00:00
Original: 2017-12-29 06:02:34-04:00 | UTC: 2017-12-29T10:02:34+00:00
Original: 2017-12-29 12:21:03-04:00 | UTC: 2017-12-29T16:21:03+00:00
Original: 2017-12-29 14:32:55-04:00 | UTC: 2017-12-29T18:32:55+00:00
Original: 2017-12-29 15:08:26-04:00 | UTC: 2017-12-29T19:08:26+00:00
Original: 2017-12-29 20:33:34-04:00 | UTC: 2017-12-30T00:33:34+00:00
Original: 2017-12-30 13:51:03-04:00 | UTC: 2017-12-30T17:51:03+00:00

#### **Time zone database**

1. Time zone database

*-# Imports*
from datetime import datetime
from dateutil import tz
*-# Eastern time*
et = tz.gettz('America/New_York')

*tz database*
Format: 'Continent/City'
Examples:
'America/New_York'
'America/Mexico_City'
'Europe/London'
'Africa/Accra'

*-# Last ride*
last = datetime(2017, 12, 30, 15, 9, 3, tzinfo=et)
print(last)

`2017-12-30 15:09:03-05:00`

*-# First ride*
first = datetime(2017, 10, 1, 15, 23, 25, tzinfo=et)
print(first)

`2017-10-01 15:23:25-04:00`

**Putting the bike trips into the right time zone**

Instead of setting the timezones for W20529 by hand, let's assign them to their IANA timezone: 'America/New_York'. Since we know their political jurisdiction, we don't need to look up their UTC offset. Python will do that for us.

STEPS
    Import tz from dateutil.
    Assign et to be the timezone 'America/New_York'.
    Within the for loop, set start and end to have et as their timezone (use .replace()).

In [153]:
# Import tz
from dateutil import tz

# Create a timezone object for Eastern Time
et = tz.gettz('America/New_York')

# Loop over trips, updating the datetimes to be in Eastern Time
for index, trip in onebike_datetimes.iterrows():
  # Update trip['start'] and trip['end']
  trip['start'] = trip['start'].replace(tzinfo=et)
  trip['end'] = trip['end'].replace(tzinfo=et)

display(onebike_datetimes.head(2))
display(onebike_datetimes.dtypes)

# not work as intended

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-03 12:23:25-05:00,2017-10-03 12:26:26-05:00,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-03 12:42:57-05:00,2017-10-03 14:49:59-05:00,7622.0

Start date                                                object
End date                                                  object
Start station number                                       int64
Start station                                             object
End station number                                         int64
End station                                               object
Bike number                                               object
Member type                                               object
start                   datetime64[ns, tzfile('America/Bogota')]
end                     datetime64[ns, tzfile('America/Bogota')]
trip_duration                                            float64
dtype: object

In [143]:
import pytz
pytz.all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [146]:
from dateutil import tz

# create a timezone object for Eastern Time
et = tz.gettz('America/New_York')

# convert 'start' and 'end' columns to Eastern Time and then to UTC
onebike_datetimes['start'] = onebike_datetimes['start'].apply(lambda x: x.replace(tzinfo=et))
onebike_datetimes['end'] = onebike_datetimes['end'].apply(lambda x: x.replace(tzinfo=et))

# display the first few rows and data types
display(onebike_datetimes.head(2))
display(onebike_datetimes.dtypes)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-03 12:23:25-04:00,2017-10-03 12:26:26-04:00,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-03 12:42:57-04:00,2017-10-03 14:49:59-04:00,7622.0

Start date                                            object
End date                                              object
Start station number                                   int64
Start station                                         object
End station number                                     int64
End station                                           object
Bike number                                           object
Member type                                           object
start                   datetime64[ns, tzfile('US/Eastern')]
end                     datetime64[ns, tzfile('US/Eastern')]
trip_duration                                        float64
dtype: object

In [148]:
from dateutil import tz

# create a timezone object for Eastern Time
Col = tz.gettz('America/Bogota')

# convert 'start' and 'end' columns to Eastern Time and then to UTC
onebike_datetimes['start'] = onebike_datetimes['start'].apply(lambda x: x.replace(tzinfo=Col))
onebike_datetimes['end'] = onebike_datetimes['end'].apply(lambda x: x.replace(tzinfo=Col))

# display the first few rows and data types
display(onebike_datetimes.head(2))
display(onebike_datetimes.dtypes)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-03 12:23:25-05:00,2017-10-03 12:26:26-05:00,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-03 12:42:57-05:00,2017-10-03 14:49:59-05:00,7622.0

Start date                                                object
End date                                                  object
Start station number                                       int64
Start station                                             object
End station number                                         int64
End station                                               object
Bike number                                               object
Member type                                               object
start                   datetime64[ns, tzfile('America/Bogota')]
end                     datetime64[ns, tzfile('America/Bogota')]
trip_duration                                            float64
dtype: object

In [147]:
from dateutil import tz

# create a timezone object for Eastern Time
KOR = tz.gettz('Asia/Seoul')

# convert 'start' and 'end' columns to Eastern Time and then to UTC
onebike_datetimes['start'] = onebike_datetimes['start'].apply(lambda x: x.replace(tzinfo=KOR))
onebike_datetimes['end'] = onebike_datetimes['end'].apply(lambda x: x.replace(tzinfo=KOR))

# display the first few rows and data types
display(onebike_datetimes.head(2))
display(onebike_datetimes.dtypes)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,start,end,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,2017-10-03 12:23:25+09:00,2017-10-03 12:26:26+09:00,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,2017-10-03 12:42:57+09:00,2017-10-03 14:49:59+09:00,7622.0

Start date                                     object
End date                                       object
Start station number                            int64
Start station                                  object
End station number                              int64
End station                                    object
Bike number                                    object
Member type                                    object
start                   datetime64[ns, tzfile('ROK')]
end                     datetime64[ns, tzfile('ROK')]
trip_duration                                 float64
dtype: object

**What time did the bike leave? (Global edition)**

When you need to move a `datetime` from one timezone into another, use `.astimezone()` and `tz`. Often you will be moving things into UTC, but for fun let's try moving things from 'America/New_York' into a few different time zones.

STEPS 01
    Set uk to be the timezone for the UK: 'Europe/London'.
    Change local to be in the uk timezone and assign it to notlocal.
STEPS 02
    Set ist to be the timezone for India: 'Asia/Kolkata'.
    Change local to be in the ist timezone and assign it to notlocal.
STEPS 03
    Set sm to be the timezone for Samoa: 'Pacific/Apia'.
    Change local to be in the sm timezone and assign it to notlocal.

In [155]:
# Create the timezone object
uk = tz.gettz('Europe/London')

# Pull out the start of the first trip
local = onebike_datetimes['start'][0]

# What time was it in the UK?
notlocal = local.astimezone(uk)

# Print them out and see the difference
print(local.isoformat())
print(notlocal.isoformat())

2017-10-03T12:23:25-05:00
2017-10-03T18:23:25+01:00

In [156]:
# Create the timezone object
ist = tz.gettz('Asia/Kolkata')

# Pull out the start of the first trip
local = onebike_datetimes['start'][0]

# What time was it in India?
notlocal = local.astimezone(ist)

# Print them out and see the difference
print(local.isoformat())
print(notlocal.isoformat())

2017-10-03T12:23:25-05:00
2017-10-03T22:53:25+05:30

In [157]:
# Create the timezone object
sm = tz.gettz('Pacific/Apia')

# Pull out the start of the first trip
local = onebike_datetimes['start'][0]

# What time was it in Samoa?
notlocal = local.astimezone(sm)

# Print them out and see the difference
print(local.isoformat())
print(notlocal.isoformat())

2017-10-03T12:23:25-05:00
2017-10-04T07:23:25+14:00

#### **Starting daylight saving time**

1. xxx

2. xxx

3. xxx

4. xxx

## **Easy and Powerful: Dates and Times in Pandas (Module 04-051)**

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [1]:
print('Perrenque!')

Perrenque!