# **DataCamp.Course_054_Hypothesis Testing in Python**

### **Course Description**

Hypothesis testing lets you answer questions about your datasets in a statistically rigorous way. In this course, you'll grow your Python analytical skills as you learn how and when to use common tests like t-tests, proportion tests, and chi-square tests. Working with real-world data, including Stack Overflow user feedback and supply-chain data for medical supply shipments, you'll gain a deep understanding of how these tests work and the key assumptions that underpin them. You'll also discover how non-parametric tests can be used to go beyond the limitations of traditional hypothesis tests.

In [8]:
# read_feather function

import os
import pandas as pd
folder_name = 'datasets'
dir = r'C:\Users\mcaba\OneDrive\Escritorio\Data Science\Datacamp_Notebook\Datacamp_Notebook\{}'.format(folder_name)

def read_feather_fun(folder_name,file_name, path):
    path = dir
    os.chdir(path)
    df = pd.read_feather('{}.feather'.format(file_name))
    return df

stack_overflow = read_feather_fun('datasets','stack_overflow', dir)
display(stack_overflow.head(2))

,respondent,main_branch,hobbyist,age,age_1st_code,age_first_code_cut,comp_freq,comp_total,converted_comp,country,...,survey_length,trans,undergrad_major,webframe_desire_next_year,webframe_worked_with,welcome_change,work_week_hrs,years_code,years_code_pro,age_cat
0,36.0,"I am not primarily a developer, but I write co...",Yes,34.0,30.0,adult,Yearly,60000.0,77556.0,United Kingdom,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;React.js,Just as welcome now as I felt last year,40.0,4.0,3.0,At least 30
1,47.0,I am a developer by profession,Yes,53.0,10.0,child,Yearly,58000.0,74970.0,United Kingdom,...,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Spring,Flask;Spring,Just as welcome now as I felt last year,40.0,43.0,28.0,At least 30

In [9]:
dem_votes_potus_12_16 = read_feather_fun('datasets','dem_votes_potus_12_16', dir)
display(dem_votes_potus_12_16.head(2))

     state   county  dem_percent_12  dem_percent_16
0  Alabama  Bullock       76.305900       74.946921
1  Alabama  Chilton       19.453671       15.847352

In [10]:
late_shipments = read_feather_fun('datasets','late_shipments', dir)
display(late_shipments.head(2))

,id,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,late_delivery,late,product_group,sub_classification,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,freight_cost_groups,line_item_insurance_usd
0,36203.0,Nigeria,PMO - US,Direct Drop,EXW,Air,1.0,Yes,HRDT,HIV test,...,2996.0,266644.0,89.0,0.89,"Alere Medical Co., Ltd.",Yes,1426.0,33279.83,expensive,373.83
1,30998.0,Botswana,PMO - US,Direct Drop,EXW,Air,0.0,No,HRDT,HIV test,...,25.0,800.0,32.0,1.60,"Trinity Biotech, Plc",Yes,10.0,559.89,reasonable,1.72

In [11]:
repub_votes_potus_08_12 = read_feather_fun('datasets','repub_votes_potus_08_12', dir)
display(repub_votes_potus_08_12.head(2))

      state  county  repub_percent_08  repub_percent_12
0   Alabama    Hale         38.957877         37.139882
1  Arkansas  Nevada         56.726272         58.983452

## **Hypothesis Testing Fundamentals (Module 01-054)**

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

## **Two-Sample and ANOVA Tests (Module 02-054)**

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

## **Proportion Tests (Module 03-054)**

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

## **Non-Parametric Tests (Module 04-054)**

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [ ]:
display(

)

display(

)

display(

)

#### **xxxx**

1. xxx

2. xxx

3. xxx

4. xxx

In [12]:
print('Perrenque!')

Perrenque!